Repository sphinx-labs/sphinx, pull requests merged in 2022-08, with the labels that each got.

#25 feat(ct): manager supports adapters and proxy admin
  .changeset/slow-carrots-lie.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/ProxyAdmin.sol
  packages/contracts/contracts/ProxyUpdater.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  yarn.lock
Labels: contracts, on-merge-train

#26 feat(ct): add proxy updater
  .changeset/big-months-try.md
  packages/contracts/contracts/ProxyUpdater.sol
Labels: contracts, on-merge-train

#42 fix(ct): deploy ProxyAdmin in ChugSplashManager
  .changeset/fuzzy-seals-punch.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
Labels: contracts, on-merge-train

#44 feat(exec): add basic execution flow
  .changeset/proud-colts-tickle.md
  packages/executor/hardhat.config.ts
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/executor/src/utils/constants.ts
  packages/executor/src/utils/helpers.ts
  packages/executor/src/utils/index.ts
  yarn.lock
Labels: on-merge-train, executor

#43 feat(ct): add `ProxyAdmin`
  .changeset/green-dryers-raise.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/IProxyAdapter.sol
  packages/contracts/contracts/ProxyAdmin.sol
Labels: contracts, on-merge-train

#47 feat(pg): add hardhat task for displaying status of live upgrade
  .changeset/unlucky-coins-mix.md
  packages/core/src/actions/types.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, on-merge-train, core

#45 feat(ct): add executor selection to Manager
  .changeset/mean-dragons-drive.md
  package.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/IExecutorSelectionStrategy.sol
Labels: contracts, on-merge-train

#48 fix(ct): move setCode logic from ProxyUpdater to ProxyAdmin
  .changeset/friendly-worms-vanish.md
  packages/contracts/contracts/IProxyAdapter.sol
  packages/contracts/contracts/ProxyAdmin.sol
  packages/contracts/contracts/ProxyUpdater.sol
Labels: contracts, on-merge-train

#49 fix(ct): build errors
  packages/contracts/contracts/ProxyAdmin.sol
Labels: contracts

#52 feat(ct): add adapter for default proxy
  .changeset/metal-rice-suffer.md
  packages/contracts/contracts/IProxyAdapter.sol
  packages/contracts/contracts/adapters/TransparentUpgradeableAdapter.sol
Labels: contracts, on-merge-train

#53 refactor(ct): merge `ProxyAdmin` into `ChugSplashManager`
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ProxyAdmin.sol
Labels: contracts, on-merge-train
