Repository sphinx-labs/sphinx, pull requests merged in 2022-12, with the labels that each got.

#262 fix(core): add support for dynamic arrays
  .changeset/moody-zoos-shake.md
  packages/core/src/languages/solidity/storage.ts
Labels: core

#263 fix(pg): expand test coverage for dynamic arrays
  .changeset/nice-snakes-rush.md
  packages/plugins/contracts/Storage.t.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins

#266 Version Packages
  .changeset/breezy-squids-flash.md
  .changeset/bright-rivers-relate.md
  .changeset/calm-queens-look.md
  .changeset/calm-students-type.md
  .changeset/chilled-maps-raise.md
  .changeset/clean-goats-search.md
  .changeset/clever-coats-repair.md
  .changeset/five-lemons-cry.md
  .changeset/fuzzy-chairs-lick.md
  .changeset/grumpy-worms-press.md
  .changeset/hip-mayflies-worry.md
  .changeset/hot-donuts-hear.md
  .changeset/khaki-owls-return.md
  .changeset/lemon-parents-check.md
  .changeset/many-games-train.md
  .changeset/mean-apes-scream.md
  .changeset/mean-parents-relate.md
  .changeset/moody-oranges-report.md
  .changeset/moody-zoos-shake.md
  .changeset/new-crews-doubt.md
  .changeset/nice-eggs-wonder.md
  .changeset/nice-snakes-rush.md
  .changeset/old-ads-join.md
  .changeset/orange-pumas-check.md
  .changeset/quick-balloons-clean.md
  .changeset/real-elephants-rescue.md
  .changeset/real-moons-count.md
  .changeset/selfish-dots-hide.md
  .changeset/selfish-islands-shop.md
  .changeset/serious-waves-grab.md
  .changeset/shaggy-cups-attack.md
  .changeset/shaggy-radios-exercise.md
  .changeset/shiny-games-glow.md
  .changeset/slimy-apes-brake.md
  .changeset/small-ducks-relate.md
  .changeset/stupid-phones-kiss.md
  .changeset/tasty-colts-push.md
  .changeset/tidy-vans-drop.md
  .changeset/wild-rocks-decide.md
  .changeset/wise-cars-notice.md
  .changeset/wise-monkeys-roll.md
  .changeset/wise-pumpkins-rush.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#267 fix(pg): filter empty configs in `getContract`
  .changeset/slow-mangos-worry.md
  packages/plugins/src/hardhat/deployments.ts
Labels: plugins

#268 fix(pg): modify chugsplash-cancel to not retrieve bundle id
  .changeset/sixty-clocks-talk.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#269 fix(pg): remove the 'silent' flag from chugsplash-cancel task
  .changeset/strange-weeks-enjoy.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#270 fix(ct): upgrade contract tests to reflect latest deployment flow
  .changeset/proud-sheep-listen.md
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/integration-tests.t.sol
Labels: contracts

#271 fix(ct): remove unnecessary dependencies
  .changeset/rude-knives-love.md
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/deploy/000-ChugSplashBootLoader.ts
  packages/contracts/deployments/localhost/.chainId
  packages/contracts/deployments/localhost/ChugSplashBootLoader.json
  packages/contracts/deployments/localhost/solcInputs/5cbfa1dd908734270735195a55e6b06e.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  yarn.lock
Labels: contracts

#272 fix(ct): change implementation contract deployment from create2 to create
  .changeset/famous-lemons-end.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
Labels: contracts

#273 fix(pg): changed deployment folder name to match hardhat-deploy
  .changeset/blue-seahorses-enjoy.md
  .changeset/forty-feet-appear.md
  .changeset/little-steaks-exercise.md
  packages/contracts/src/constants.ts
  packages/core/package.json
  packages/core/src/actions/execute.ts
  packages/core/src/config/types.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/demo/contracts/SimpleStorage.sol
  packages/executor/src/index.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
  packages/plugins/src/messages.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#276 fix(ct): add proposers to the ChugSplashManager
  .changeset/grumpy-ways-rhyme.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
Labels: contracts

#277 fix(pg): update tasks to reflect proposer requirement
  .changeset/new-maps-talk.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: contracts, plugins, core

#278 fix(ct): use salted create2 call to deploy implementations
  .changeset/nervous-hotels-clap.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/demo/contracts/SimpleStorage.sol
Labels: contracts

#279 Version Packages
  .changeset/blue-seahorses-enjoy.md
  .changeset/famous-lemons-end.md
  .changeset/forty-feet-appear.md
  .changeset/little-steaks-exercise.md
  .changeset/proud-sheep-listen.md
  .changeset/rude-knives-love.md
  .changeset/sixty-clocks-talk.md
  .changeset/slow-mangos-worry.md
  .changeset/strange-weeks-enjoy.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#281 fix(ct): use salt as implementations mapping key
  .changeset/curvy-tigers-tap.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
Labels: contracts

#282 fix(core): change ContractConfig "address" field to "proxy"
  .changeset/breezy-pigs-deny.md
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/utils.ts
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: plugins, core, executor

#283 fix(core): improve execution cost estimation
  .changeset/serious-turtles-double.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/execute.ts
  packages/core/src/constants.ts
  packages/core/src/fund.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/.gitignore
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/plugins/.gitignore
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/Storage.spec.ts
Labels: plugins, core, executor

#284 fix(core): merge functions that check if address is a contract
  .changeset/popular-seals-tickle.md
  .changeset/sweet-dragons-fix.md
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: plugins, core

#285 fix(core): execution gas cost estimation bug fixes
  .changeset/dull-adults-sneeze.md
  packages/core/src/fund.ts
  packages/executor/src/index.ts
Labels: core, executor

#286 Execution gas estimation
  .changeset/breezy-pigs-deny.md
  .changeset/curvy-tigers-tap.md
  .changeset/dull-adults-sneeze.md
  .changeset/nervous-hotels-clap.md
  .changeset/popular-seals-tickle.md
  .changeset/serious-turtles-double.md
  .changeset/sweet-dragons-fix.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/execute.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/constants.ts
  packages/core/src/fund.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/.gitignore
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/demo/contracts/SimpleStorage.sol
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/.gitignore
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/Storage.spec.ts
Labels: contracts, plugins, core, executor

#290 fix(pg): fix uninitialized executor bug
  .changeset/famous-flowers-repair.md
  packages/plugins/src/executor.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#291 fix(ct): add events for default proxy and implementation contract deployment
  .changeset/funny-boats-sort.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
Labels: contracts

#296 fix(pg): remove hard-coded proxy address in config
  .changeset/spotty-chefs-buy.md
  packages/plugins/chugsplash/Storage.config.ts
Labels: plugins

#293 fix(plg): bugs in generated artifact format
  .changeset/wicked-paws-bathe.md
  packages/plugins/src/hardhat/artifacts.ts
Labels: plugins, on-merge-train

#300 docs(pg): update readme
  packages/plugins/README.md
Labels: plugins

#298 maint(core): add comments to type checking fns
  .changeset/twenty-moose-teach.md
  packages/core/src/actions/bundle.ts
Labels: on-merge-train, core

#294 feat(core): smarter batch action execution
  .changeset/gorgeous-laws-work.md
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
Labels: on-merge-train, core

#292 feat(pg) Add list-proposers and add-proposers tasks
  .changeset/tall-swans-do.md
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, on-merge-train, core

#303 fix: update plugins readme and demo
  .changeset/dull-crabs-share.md
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/demo/contracts/SimpleStorage.sol
  packages/demo/test/SimpleStorage.spec.ts
  packages/plugins/README.md
  packages/plugins/src/hardhat/deployments.ts
Labels: plugins

#297 fix(core): add more logs to the chugsplash setup process
  .changeset/slimy-fishes-marry.md
  packages/core/src/languages/solidity/predeploys.ts
  packages/executor/src/index.ts
Labels: core, executor

#306 fix(core): update deployment logs
  .changeset/old-bottles-look.md
  .changeset/perfect-cooks-exercise.md
  .changeset/quiet-shoes-wink.md
  packages/core/src/actions/execute.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#307 Release
  .changeset/dull-crabs-share.md
  .changeset/famous-flowers-repair.md
  .changeset/funny-boats-sort.md
  .changeset/gorgeous-laws-work.md
  .changeset/old-bottles-look.md
  .changeset/perfect-cooks-exercise.md
  .changeset/quiet-shoes-wink.md
  .changeset/slimy-fishes-marry.md
  .changeset/spotty-chefs-buy.md
  .changeset/tall-swans-do.md
  .changeset/twenty-feet-suffer.md
  .changeset/twenty-moose-teach.md
  .changeset/wicked-paws-bathe.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/demo/contracts/SimpleStorage.sol
  packages/demo/test/SimpleStorage.spec.ts
  packages/executor/src/index.ts
  packages/plugins/README.md
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/src/executor.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: contracts, plugins, core, executor

#309 Version Packages
  .changeset/dull-crabs-share.md
  .changeset/famous-flowers-repair.md
  .changeset/funny-boats-sort.md
  .changeset/gorgeous-laws-work.md
  .changeset/old-bottles-look.md
  .changeset/perfect-cooks-exercise.md
  .changeset/quiet-shoes-wink.md
  .changeset/slimy-fishes-marry.md
  .changeset/spotty-chefs-buy.md
  .changeset/tall-swans-do.md
  .changeset/twenty-feet-suffer.md
  .changeset/twenty-moose-teach.md
  .changeset/wicked-paws-bathe.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#311 fix(pg): update tutorial to use `UserChugSplashConfig`
  .changeset/nasty-bikes-relate.md
  packages/plugins/README.md
Labels: plugins

#312 fix(pg): Make configPath a normal parameter on all tasks
  .changeset/twelve-seas-drop.md
  packages/core/src/utils.ts
  packages/plugins/README.md
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/messages.ts
Labels: plugins, core

#314 fix(pg): change @nomiclabs/hardhat-etherscan from devDependency to dependency
  .changeset/lovely-eggs-clean.md
  packages/executor/package.json
  yarn.lock
Labels: executor

#316 docs: update support link to discord channel
  README.md
  packages/plugins/README.md
Labels: plugins

#317 docs: update main readme
  README.md
Labels: plugins

#318 fix(pg): expand test coverage to include contract references
  .changeset/ninety-bulldogs-drive.md
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/test/Storage.spec.ts
Labels: plugins

#319 fix(core): change contract reference syntax
  .changeset/selfish-buckets-greet.md
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/src/hardhat/utils.ts
  packages/plugins/test/Storage.spec.ts
Labels: plugins, core

#320 docs: add chugsplash file
  README.md
  docs/chugsplash-file.md
  docs/variables.md
  packages/plugins/README.md
Labels: plugins

#324 fix(pg): extend `HardhatConfig` and `HardhatRuntimeEnvironment` types
  packages/demo/test/SimpleStorage.spec.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
  packages/plugins/src/hardhat/utils.ts
  packages/plugins/test/Storage.spec.ts
Labels: plugins

#323 feat(pg): add chugsplash-init hardhat task
  .changeset/tiny-humans-glow.md
  packages/plugins/package.json
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/index.ts
  packages/plugins/src/sample-project/hello-chugsplash.js
  packages/plugins/src/sample-project/hello-chugsplash.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-contract.ts
  packages/plugins/src/sample-project/sample-tests.ts
Labels: plugins

#321 docs: fix discord invite link
  README.md
  packages/plugins/README.md
Labels: plugins

#326 fix(pg): add `SimpleStorage.t.sol`
  .changeset/khaki-jokes-shave.md
  packages/plugins/contracts/SimpleStorage.t.sol
Labels: plugins

#322 feat(core): support bytes/strings (length >31)
  .changeset/seven-teachers-sneeze.md
  packages/core/src/languages/solidity/storage.ts
  packages/plugins/contracts/Storage.t.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core

#327 fix(ct): Announce events with data on the ChugSplashRegistry
  .changeset/poor-rules-explode.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/ChugSplashRegistry.t.sol
Labels: contracts

#329 docs: remove tutorial
  README.md
  packages/plugins/README.md
Labels: plugins

#331 fix(pg): write canonical config to file system when using executing bundles locally
  .changeset/sour-shrimps-work.md
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
Labels: plugins, core, executor

#332 fix(ct): calculate chugsplash addresses based on multisig address
  .changeset/brave-elephants-jump.md
  packages/contracts/contracts/DeterministicProxyOwner.sol
  packages/contracts/contracts/ProxyInitializer.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/etherscan.ts
Labels: contracts, core, executor

#335 Version Packages
  .changeset/brave-ads-boil.md
  .changeset/brave-elephants-jump.md
  .changeset/khaki-jokes-shave.md
  .changeset/lovely-eggs-clean.md
  .changeset/nasty-bikes-relate.md
  .changeset/ninety-bulldogs-drive.md
  .changeset/poor-rules-explode.md
  .changeset/selfish-buckets-greet.md
  .changeset/seven-teachers-sneeze.md
  .changeset/sour-shrimps-work.md
  .changeset/tender-mugs-develop.md
  .changeset/tiny-humans-glow.md
  .changeset/twelve-seas-drop.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#336 fix(core): improve execution cost estimation
  .changeset/four-maps-roll.md
  packages/core/src/fund.ts
  packages/demo/hardhat.config.ts
  packages/plugins/hardhat.config.ts
Labels: plugins, core
