Repository sphinx-labs/sphinx, pull requests merged in 2022-09, with the labels that each got.

#55 fix(ct): allow user to claim proxy ownership
  .changeset/healthy-countries-teach.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts, on-merge-train

#57 docs(exec): add some todos
  packages/executor/src/index.ts
Labels: on-merge-train, executor

#46 feat(ct): add simple lock ESS
  .changeset/moody-bags-laugh.md
  .changeset/wild-suits-train.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/IExecutorSelectionStrategy.sol
Labels: contracts, on-merge-train

#56 feat(meta): add decent README
  README.md
Labels: on-merge-train

#50 feat(ct): add logic for owner and executor bonds in Manager
  .changeset/shiny-colts-remember.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
Labels: contracts, on-merge-train

#59 fix(ct): update `transferProxyOwnership` in `ChugSplashManager`
  .changeset/good-cows-fix.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts, on-merge-train
