Repository sphinx-labs/sphinx, pull requests merged in 2022-11, with the labels that each got.

#139 fix: support immutable variables, signed integers, and payable addresses
  .changeset/big-dryers-grab.md
  .changeset/brave-moose-attack.md
  .changeset/fresh-mails-applaud.md
  .changeset/hungry-singers-reflect.md
  .changeset/plenty-poems-admire.md
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/languages/solidity/storage.ts
  packages/demo/contracts/SimpleStorage.sol
  packages/demo/package.json
  packages/plugins/README.md
  packages/plugins/package.json
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, core

#143 fix: update versions
  .changeset/early-baboons-watch.md
  packages/demo/package.json
  packages/plugins/package.json
  yarn.lock
Labels: plugins

#147 feat(plg): add support for foundry-hardhat
  .changeset/smart-apes-jump.md
  packages/plugins/src/hardhat/artifacts.ts
Labels: plugins

#148 feat(plg): move predeploys from core
  .changeset/thick-feet-jump.md
  packages/core/src/index.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/predeploys.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#150 feat(plg): remove hardhat-deploy
  .changeset/clever-games-destroy.md
  packages/plugins/package.json
  packages/plugins/src/hardhat/predeploys.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#151 fix: improve error handling for immutable and state variables
  .changeset/calm-hats-fetch.md
  .changeset/eight-geckos-refuse.md
  .changeset/gorgeous-lies-listen.md
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, core

#152 fix: bump versions
  packages/demo/package.json
  packages/plugins/package.json
  packages/plugins/src/hardhat/artifacts.ts
  yarn.lock
Labels: plugins

#153 fix: improve error handling for immutable and state variables
  .changeset/calm-hats-fetch.md
  .changeset/clever-games-destroy.md
  .changeset/eight-geckos-refuse.md
  .changeset/gorgeous-lies-listen.md
  .changeset/smart-apes-jump.md
  .changeset/thick-feet-jump.md
  packages/core/src/config/parse.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/package.json
  packages/plugins/package.json
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/predeploys.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, core

#156 fix: bump versions
  .changeset/yellow-ads-cheat.md
  packages/demo/package.json
  packages/plugins/package.json
  yarn.lock
Labels: plugins

#161 fix(meta): tweak gitignore
  .gitignore
  packages/core/Untitled-1
Labels: core

#160 fix(plg): immutable handling fixes
  .changeset/young-islands-press.md
  packages/plugins/src/hardhat/artifacts.ts
Labels: plugins

#149 Add Support for Mapping Types
  .changeset/olive-waves-own.md
  packages/core/src/languages/solidity/storage.ts
  packages/plugins/.gitignore
  packages/plugins/chugsplash/SimpleStorage.config.ts
  packages/plugins/contracts/SimpleStorage.sol
  packages/plugins/hardhat.config.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/test/SimpleStorage.spec.ts
Labels: enhancement, plugins, on-merge-train, core

#166 fix(core): add log function that is optionally hidden
  .changeset/hot-onions-switch.md
  packages/core/src/utils.ts
Labels: core

#167 fix(plg): deterministic factory deploy bug
  .changeset/twelve-ducks-promise.md
  packages/plugins/src/hardhat/predeploys.ts
Labels: plugins, on-merge-train

#169 Release
  .changeset/hot-onions-switch.md
  .changeset/twelve-ducks-promise.md
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/predeploys.ts
Labels: plugins, core

#168 fix(core): add functions for writing deployment folders
  .changeset/tender-wasps-glow.md
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
  packages/plugins/src/hardhat/utils.ts
Labels: plugins, core

#172 fix(pg): replace spinner in chugsplash-deploy task due to clash with hardhat
  .changeset/cuddly-pots-wonder.md
  .changeset/five-dots-fold.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/index.ts
Labels: plugins

#174 Refactor Execution Logic Into Separate Command
  .changeset/nice-cougars-impress.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#173 fix: use creation bytecode instead of the `DEPLOY_CODE_PREFIX` for etherscan compatibility
  .changeset/seven-lions-eat.md
  .changeset/spotty-rivers-impress.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/test/ChugSplashManager.t.sol
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/executor/hardhat.config.ts
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/executor/src/utils/index.ts
  packages/executor/src/utils/verify.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: contracts, plugins, core, executor

#175 Fix: chugsplash-execute incorrect typing
  .changeset/lemon-wolves-sing.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: bug, plugins

#176 fix(pg): filter unnecessary artifacts from being committed to ipfs
  .changeset/few-wasps-fry.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#177 Minimal Executor
  .changeset/kind-crews-complain.md
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, executor

#178 fix(ex): verify chugsplash contracts on etherscan
  .changeset/grumpy-nails-ring.md
  .changeset/serious-crabs-film.md
  .changeset/weak-badgers-study.md
  .changeset/wild-ants-flow.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/libraries/Proxy.sol
  packages/contracts/package.json
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/executor/hardhat.config.ts
  packages/executor/package.json
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/index.ts
  packages/executor/src/utils/initialize.ts
  packages/executor/src/utils/verify.ts
  packages/plugins/src/hardhat/index.ts
  packages/plugins/src/hardhat/predeploys.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: contracts, plugins, executor

#182 fix: integrate etherscan verification into executor
  .changeset/good-maps-run.md
  .changeset/honest-shrimps-bake.md
  packages/core/src/utils.ts
  packages/executor/.gitignore
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/initialize.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/predeploys.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#183 fix(pg): upgrade chugsplash-register task to work locally
  .changeset/silent-deers-know.md
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#185 fix(ct): hard-code build info file path temporarily
  .changeset/grumpy-apricots-sneeze.md
  packages/contracts/src/ifaces.ts
Labels: contracts

#186 Plugins updates
  .changeset/good-maps-run.md
  .changeset/grumpy-apricots-sneeze.md
  .changeset/honest-shrimps-bake.md
  .changeset/loud-foxes-wash.md
  .changeset/silent-deers-know.md
  packages/contracts/src/ifaces.ts
  packages/core/src/utils.ts
  packages/demo/contracts/SimpleStorage.sol
  packages/executor/.gitignore
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/initialize.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/predeploys.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: contracts, plugins, core, executor

#189 Add Docker Configuration for Executor
  .changeset/spicy-geckos-greet.md
  packages/executor/.dockerignore
  packages/executor/.env.example
  packages/executor/Dockerfile
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/tsconfig.json
  packages/plugins/.gitignore
Labels: on-merge-train, executor

#190 Remove --local parameter
  .changeset/plenty-tigers-confess.md
  packages/executor/.env.example
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#192 fix(pg): add script that commits local deployments to IPFS
  .changeset/angry-games-double.md
  .changeset/perfect-ants-build.md
  .changeset/unlucky-wolves-work.md
  packages/contracts/src/ifaces.ts
  packages/core/src/config/parse.ts
  packages/executor/.env.example
  packages/executor/Dockerfile
  packages/executor/package.json
  packages/plugins/dev.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
Labels: contracts, plugins, core, executor

#194 fix(ex): verify proxy as part of chugsplash config verification
  .changeset/polite-beds-explain.md
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/initialize.ts
Labels: executor

#193 fix(ex): run the executor using the hre executable
  .changeset/modern-toes-turn.md
  packages/executor/.env.example
  packages/executor/Dockerfile
  packages/executor/package.json
Labels: executor

#195 fix(pg): update readme to include source code verification, types, artifact generation
  .changeset/honest-trees-smile.md
  packages/plugins/README.md
Labels: plugins

#191 Parallelize Execution Process
  .changeset/spicy-geese-roll.md
  packages/demo/hardhat.config.ts
  packages/executor/hardhat.config.ts
  packages/plugins/dev.ts
  packages/plugins/hardhat.config.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, executor

#199 fix: remove parallel deployments temporarily
  .changeset/grumpy-icons-work.md
  packages/demo/hardhat.config.ts
  packages/executor/hardhat.config.ts
  packages/plugins/hardhat.config.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, executor

#203 fix: hardhat task bug fixes and improvements
  .changeset/rare-rice-mix.md
  packages/core/src/utils.ts
  packages/demo/.gitignore
  packages/executor/src/index.ts
  packages/plugins/dev.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/fund.ts
  packages/plugins/src/hardhat/predeploys.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
  packages/plugins/src/index.ts
  packages/plugins/src/messages.ts
Labels: plugins, core, executor

#207 feat(pg): add deployment artifact generation on the user's side
  .changeset/chilly-planes-attack.md
  packages/core/src/actions/types.ts
  packages/core/src/utils.ts
  packages/demo/.env.example
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#211 fix(pg): improve error handling in chugsplash-approve task
  .changeset/fair-pants-matter.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/fund.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/messages.ts
Labels: plugins

#212 feat(pg): add hardhat task to explicitly fund deployments
  .changeset/dirty-actors-speak.md
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#213 feat(pg): add chugsplash-status hardhat task to monitor remote deployments
  .changeset/grumpy-laws-sin.md
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
  packages/plugins/src/messages.ts
Labels: plugins

#215 fix(pg): update the chugsplash-execute hardhat task
  .changeset/ten-pugs-repair.md
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
  packages/plugins/src/messages.ts
Labels: plugins, core

#216 fix(pg): update the chugsplash-execute hardhat task
  .changeset/small-falcons-sort.md
  packages/executor/src/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, executor

#214 Fix: Minor Build Info Parsing Bug
  .changeset/four-drinks-peel.md
  packages/plugins/src/hardhat/artifacts.ts
Labels: plugins

#217 fix(ct): fix out-of-gas bug for implementation contract deployments
  .changeset/mighty-geese-tan.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: contracts, plugins

#218 Hardhat task improvements and implementation contract deployment out-of-gas bug fix
  .changeset/dirty-actors-speak.md
  .changeset/fair-pants-matter.md
  .changeset/four-drinks-peel.md
  .changeset/grumpy-laws-sin.md
  .changeset/mighty-geese-tan.md
  .changeset/small-falcons-sort.md
  .changeset/ten-pugs-repair.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/fund.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
  packages/plugins/src/messages.ts
Labels: contracts, plugins, core, executor

#221 fix(pg): add noCompile flag to relevant hardhat tasks
  .changeset/wild-rocks-decide.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: contracts, plugins

#222 fix(ct): fix underflow bug when cancelling bundle with no executor
  .changeset/nice-eggs-wonder.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
Labels: contracts

#223 fix(pg): add a chugsplash-cancel hardhat task to cancel active bundles
  .changeset/tasty-colts-push.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#224 fix(pg): improve spinner logs in hardhat tasks
  .changeset/shaggy-radios-exercise.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/fund.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/messages.ts
Labels: plugins

#225 fix(pg): add a chugsplash-withdraw task for project owner
  .changeset/shiny-games-glow.md
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/messages.ts
Labels: plugins

#227 fix: prevent long error messages from truncating
  .changeset/serious-waves-grab.md
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/storage.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/messages.ts
Labels: plugins, core

#228 fix: remove redundant proxy verification attempts
  .changeset/hip-mayflies-worry.md
  packages/executor/src/utils/etherscan.ts
  packages/plugins/src/hardhat/execution.ts
Labels: plugins, executor

#229 fix(pg): add chugsplash-list-projects task
  .changeset/grumpy-worms-press.md
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#230 fix(ct): add support for executing multiple actions in one txn in the ChugSplashManager
  .changeset/clever-coats-repair.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
Labels: contracts

#231 fix: batch SetStorage actions into larger transactions
  .changeset/khaki-owls-return.md
  packages/core/src/actions/bundle.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#232 fix(ex): wrap Etherscan verification attempts in try/catch blocks
  .changeset/calm-students-type.md
  packages/executor/src/utils/etherscan.ts
Labels: executor

#233 fix(pg): remove progress bar on execution-related hardhat tasks
  .changeset/slimy-apes-brake.md
  packages/core/src/utils.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, core

#234 fix(pg): disable chugsplash by default in the hardhat run task
  .changeset/mean-apes-scream.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#235 fix(ex): make executor most robust to errors and cancelled bundles
  .changeset/selfish-islands-shop.md
  packages/core/src/fund.ts
  packages/core/src/index.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/fund.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#236 fix(core): submit the minimum compiler input to verify contracts on Etherscan
  .changeset/stupid-phones-kiss.md
  packages/core/src/config/types.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/index.ts
  packages/core/src/languages/solidity/types.ts
  packages/executor/src/utils/etherscan.ts
Labels: core, executor

#237 fix: commit only the necessary compiler inputs to ipfs
  .changeset/quick-balloons-clean.md
  packages/core/src/config/types.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#238 Use executor when deploying against local networks
  .changeset/new-crews-doubt.md
  .changeset/real-elephants-rescue.md
  package.json
  packages/core/package.json
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/index.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/index.ts
  packages/executor/.dockerignore
  packages/executor/.env.example
  packages/executor/.gitignore
  packages/executor/hardhat.config.ts
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/executor/src/utils/constants.ts
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/initialize.ts
  packages/plugins/.gitignore
  packages/plugins/package.json
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, core, executor

#239 fix: move predeploy initialization logic into the executor
  .changeset/wise-monkeys-roll.md
  packages/core/package.json
  packages/core/src/languages/solidity/index.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/executor/package.json
  packages/executor/src/utils/index.ts
  packages/executor/src/utils/initialize.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/index.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#240 fix(ct): make chugsplashregistry proxy's address deterministic
  .changeset/fuzzy-chairs-lick.md
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/DeterministicProxyOwner.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/initialize.ts
Labels: contracts, core, executor

#241 fix: verify and deploy the chugsplash predeploys in the executor
  .changeset/small-ducks-relate.md
  packages/core/src/languages/solidity/predeploys.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/index.ts
  packages/executor/src/utils/initialize.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#242 fix(pg): remove the test-remote-execution task
  .changeset/chilled-maps-raise.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#243 fix(pg): fix BaseServiceV2 arg parsing bug in hardhat tasks
  .changeset/old-ads-join.md
  packages/plugins/src/env.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/index.ts
Labels: plugins

#244 fix(pg): deploy the executor once per cli command
  .changeset/real-moons-count.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#245 fix(pg): improve the harhdat node task
  .changeset/moody-oranges-report.md
  packages/plugins/src/env.ts
  packages/plugins/src/executor.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#246 fix(pg): add user logs for commit subtask
  .changeset/many-games-train.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#247 fix(pg): throw an error if user tries to fund an unregistered project
  .changeset/clean-goats-search.md
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/messages.ts
Labels: plugins

#248 fix(pg): make language in user logs neutral to deployments/upgrades
  .changeset/wise-cars-notice.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#249 fix(pg): support upgrades using the hardhat test command
  .changeset/orange-pumas-check.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
Labels: plugins

#250 fix(pg): move `checkValidDeployment` to the core package
  .changeset/selfish-dots-hide.md
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: plugins, core

#251 Basic Support for Upgrades
  .changeset/five-lemons-cry.md
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#252 fix(core): make storageEntries the correct type
  .changeset/shaggy-cups-attack.md
  packages/core/src/languages/solidity/storage.ts
Labels: core

#253 fix(core): fix bug where int vars were encoded as uint
  .changeset/lemon-parents-check.md
  packages/core/src/languages/solidity/storage.ts
  packages/plugins/chugsplash/SimpleStorage.config.ts
  packages/plugins/contracts/SimpleStorage.sol
  packages/plugins/test/SimpleStorage.spec.ts
Labels: plugins, core

#256 fix(pg): expand storage variable test coverage
  .changeset/breezy-squids-flash.md
  packages/plugins/chugsplash/SimpleStorage.config.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/contracts/SimpleStorage.sol
  packages/plugins/contracts/Storage.t.sol
  packages/plugins/test/SimpleStorage.spec.ts
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins

#254 Merge deploy and upgrade tasks
  .changeset/hot-donuts-hear.md
  packages/core/src/utils.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
  yarn.lock
Labels: plugins, core

#257 fix: separate config type into UserChugSplashConfig and ParsedChugSplashConfig
  .changeset/calm-queens-look.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/utils.ts
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
Labels: plugins, core, executor

#258 fix: replace incorrect use of the `getDefaultProxyAddress` function
  .changeset/mean-parents-relate.md
  packages/core/src/config/parse.ts
  packages/core/src/utils.ts
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: plugins, core, executor

#259 fix(pg): simplify storage slot encoding logic
  .changeset/bright-rivers-relate.md
  packages/core/src/languages/solidity/storage.ts
  packages/plugins/contracts/Storage.t.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core

#260 fix(core): remove console.log
  .changeset/tidy-vans-drop.md
  packages/core/src/config/parse.ts
Labels: core
