Repository sphinx-labs/sphinx, pull requests merged in 2022-10, with the labels that each got.

#65 develop => main
  .changeset/big-months-try.md
  .changeset/friendly-worms-vanish.md
  .changeset/fuzzy-seals-punch.md
  .changeset/good-cows-fix.md
  .changeset/green-dryers-raise.md
  .changeset/healthy-countries-teach.md
  .changeset/mean-dragons-drive.md
  .changeset/metal-rice-suffer.md
  .changeset/moody-bags-laugh.md
  .changeset/neat-bees-hammer.md
  .changeset/proud-colts-tickle.md
  .changeset/shiny-colts-remember.md
  .changeset/slow-carrots-lie.md
  .changeset/unlucky-coins-mix.md
  .changeset/wild-suits-train.md
  .nvmrc
  CONTRIBUTING.md
  README.md
  package.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/IProxyAdapter.sol
  packages/contracts/contracts/ProxyUpdater.sol
  packages/contracts/contracts/adapters/TransparentUpgradeableAdapter.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/types.ts
  packages/executor/hardhat.config.ts
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/executor/src/utils/constants.ts
  packages/executor/src/utils/helpers.ts
  packages/executor/src/utils/index.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/tasks.ts
  specs/executor-economics.md
  yarn.lock
Labels: contracts, plugins, core, executor

#71 Changeset release/main
  .changeset/long-bottles-sing.md
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#61 feat(pg): add local hardhat deployments
  .changeset/silver-kangaroos-glow.md
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/deploy/000-ChugSplashRegistry.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/src/index.ts
  packages/contracts/tsconfig.json
  packages/core/package.json
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/index.ts
  packages/core/src/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/contracts/MyToken.sol
  packages/demo/test/MyToken.test.js
  packages/plugins/package.json
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
  yarn.lock
Labels: contracts, plugins, core

#64 feat(ct): add contract tests
  .changeset/nervous-wombats-yawn.md
  package.json
  packages/contracts/.gitignore
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/libraries/Proxy.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/src/constants.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/ChugSplashRegistry.t.sol
  packages/contracts/test/MockChugSplashManager.sol
  packages/contracts/test/MockChugSplashRegistry.sol
  packages/contracts/test/integration-tests.t.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/parse.ts
  packages/core/src/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/plugins/src/hardhat/deployments.ts
  yarn.lock
Labels: contracts, plugins, core, executor, conflict

#58 fix(ct): remove custom proxy type use
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts, conflict

#73 feat: mvp release
  .changeset/nervous-wombats-yawn.md
  .changeset/silver-kangaroos-glow.md
  .changeset/smart-boats-join.md
  package.json
  packages/contracts/.gitignore
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/libraries/Proxy.sol
  packages/contracts/deploy/000-ChugSplashBootLoader.ts
  packages/contracts/deploy/000-ChugSplashRegistry.ts
  packages/contracts/deployments/localhost/.chainId
  packages/contracts/deployments/localhost/ChugSplashBootLoader.json
  packages/contracts/deployments/localhost/solcInputs/5cbfa1dd908734270735195a55e6b06e.json
  packages/contracts/foundry.toml
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/src/index.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/ChugSplashRegistry.t.sol
  packages/contracts/test/MockChugSplashManager.sol
  packages/contracts/test/MockChugSplashRegistry.sol
  packages/contracts/test/integration-tests.t.sol
  packages/contracts/tsconfig.json
  packages/core/package.json
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/parse.ts
  packages/core/src/index.ts
  packages/core/src/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/chugsplash/mainnet.config.ts
  packages/demo/contracts/MyToken.sol
  packages/demo/test/MyToken.test.js
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
  specs/chugsplash-manager.md
  yarn.lock
Labels: contracts, plugins, core, executor

#75 fix(ci): change all chugsplash package dependencies to local links
  package.json
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/tsconfig.json
  packages/core/package.json
  packages/demo/package.json
  packages/executor/package.json
  packages/plugins/package.json
  yarn.lock
Labels: contracts, plugins, core, executor

#76 fix(ci): build passing
  package.json
  packages/contracts/package.json
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/tsconfig.json
  packages/core/package.json
  packages/demo/package.json
  packages/executor/package.json
  packages/plugins/package.json
  yarn.lock
Labels: contracts, plugins, core, executor

#78 Version packages
  .changeset/nervous-wombats-yawn.md
  .changeset/silver-kangaroos-glow.md
  .changeset/smart-boats-join.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core

#86 fix: bump core and plugins versions
  package.json
  packages/core/package.json
  packages/core/src/utils.ts
  packages/plugins/package.json
  yarn.lock
Labels: plugins, core

#87 Bump plugins and core versions
  package.json
  packages/core/package.json
  packages/core/src/utils.ts
  packages/plugins/package.json
  yarn.lock
Labels: plugins, core

#91 Bump versions
  .changeset/breezy-doors-change.md
  .changeset/nine-terms-wait.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins, core

#93 fix: bump all versions
  .changeset/warm-pets-scream.md
  package.json
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/integration-tests.t.sol
  packages/core/src/utils.ts
  yarn.lock
Labels: contracts, core

#98 fix(ct): export artifacts from contracts package
  .changeset/yellow-plums-smell.md
  packages/contracts/package.json
  packages/contracts/tsconfig.json
Labels: contracts

#106 fix: support demo
  .changeset/brown-shoes-live.md
  .changeset/eighty-pets-add.md
  .changeset/rich-onions-call.md
  .changeset/violet-nails-thank.md
  package.json
  packages/contracts/hardhat.config.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/demo/chugsplash/mainnet.config.ts
  packages/demo/contracts/MyToken.sol
  packages/demo/contracts/SimpleStorage.sol
  packages/demo/hardhat.config.ts
  packages/demo/package.json
  packages/demo/test/MyToken.test.js
  packages/demo/test/SimpleStorage.spec.ts
  packages/plugins/README.md
  packages/plugins/package.json
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: contracts, plugins, core

#110 fix(demo): update demo readme
  .changeset/thirty-islands-notice.md
  packages/demo/chugsplash/SimpleStorage.config.ts
  packages/plugins/README.md
  packages/plugins/package.json
  yarn.lock
Labels: plugins

#114 fix(ct): remove ownership requirement to propose bundles
  .changeset/breezy-readers-deliver.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/test/ChugSplashManager.t.sol
Labels: contracts

#117 Version packages
  .changeset/breezy-readers-deliver.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
Labels: contracts

#118 feat(pg): support deployments on live networks
  .changeset/proud-knives-happen.md
  packages/contracts/src/constants.ts
  packages/core/package.json
  packages/core/src/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/hardhat.config.ts
  packages/demo/package.json
  packages/demo/test/SimpleStorage.spec.ts
  packages/plugins/README.md
  packages/plugins/package.json
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: contracts, plugins, core

#121 Version Packages
  .changeset/proud-knives-happen.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core

#122 fix: bump package and demo versions
  .changeset/khaki-mangos-double.md
  packages/demo/package.json
  packages/plugins/package.json
  yarn.lock
Labels: plugins

#126 fix(ct): hardcode basefee on optimism
  .changeset/calm-spoons-rescue.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#130 fix(pg): separate in-process hardhat network from localhost to improve deployment testing
  .changeset/chilly-lamps-lick.md
  .changeset/mean-pumas-protect.md
  packages/core/src/actions/types.ts
  packages/core/src/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/hardhat.config.ts
  packages/demo/package.json
  packages/plugins/README.md
  packages/plugins/package.json
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, core

#131 fix(pg): separate in-process hardhat network from localhost to improve testing deployments
  .changeset/chilly-lamps-lick.md
  .changeset/mean-pumas-protect.md
  packages/core/src/actions/types.ts
  packages/core/src/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/hardhat.config.ts
  packages/demo/package.json
  packages/plugins/README.md
  packages/plugins/package.json
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, core

#134 fix: bump versions
  .changeset/eleven-ligers-pump.md
  packages/demo/package.json
  packages/plugins/package.json
  yarn.lock
Labels: plugins

#135 Version Packages
  .changeset/eleven-ligers-pump.md
  packages/demo/package.json
  packages/plugins/package.json
  yarn.lock
Labels: plugins
