Repository sphinx-labs/sphinx, pull requests merged in 2022-07, with the labels that each got.

#1 feat: merged chugsplash manager into registry
  package.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  yarn.lock
Labels: contracts, on-merge-train

#2 feat(plg): add some nice spinners
  .changeset/config.json
  .changeset/lovely-nails-count.md
  packages/plugins/package.json
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, on-merge-train

#6 feat(deploy): add hh deploy script for registry
  .changeset/clever-fishes-accept.md
  packages/contracts/deploy/000-ChugSplashRegistry.ts
  packages/contracts/hardhat.config.ts
Labels: contracts, on-merge-train

#8 feat(ci): introduce basic circle CI checks
  .circleci/config.yml
  package.json
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/package.json
  packages/core/package.json
  packages/demo/package.json
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/plugins/package.json
  yarn.lock
Labels: contracts, plugins, core, executor

#9 style(ct): standardize ChugSplashRegistry style
  .changeset/two-pugs-heal.md
  packages/contracts/contracts/ChugSplashRegistry.sol
Labels: contracts, on-merge-train

#5 fix(registry): add missing event/event args
  .changeset/orange-chefs-visit.md
  .changeset/two-pugs-heal.md
  .gitignore
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/src/ifaces.ts
Labels: contracts, on-merge-train

#4 feat(tasks): hh tasks for creating, approving, and listing projects
  .changeset/chilly-beers-clap.md
  packages/demo/chugsplash/mainnet.config.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, on-merge-train

#14 feat(ct): bring back Manager
  .changeset/real-insects-add.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/src/ifaces.ts
  packages/demo/hardhat.config.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: contracts, plugins, on-merge-train

#18 release
  .changeset/chilly-beers-clap.md
  .changeset/clever-fishes-accept.md
  .changeset/config.json
  .changeset/lovely-nails-count.md
  .changeset/orange-chefs-visit.md
  .changeset/real-insects-add.md
  .circleci/config.yml
  .github/mergify.yml
  .github/workflows/release.yml
  .gitignore
  package.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/deploy/000-ChugSplashRegistry.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/core/package.json
  packages/demo/chugsplash/mainnet.config.ts
  packages/demo/hardhat.config.ts
  packages/demo/package.json
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: contracts, plugins, on-merge-train, core, executor, ci

#22 sync: main => develop
  .changeset/chilly-beers-clap.md
  .changeset/clever-fishes-accept.md
  .changeset/lovely-nails-count.md
  .changeset/orange-chefs-visit.md
  .changeset/real-insects-add.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins

#20 feat(meta): add CONTRIBUTING guide
  .nvmrc
  CONTRIBUTING.md
Labels: on-merge-train

#23 fix(ct): typo in variable name
  .changeset/neat-bees-hammer.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/plugins/src/hardhat/tasks.ts
Labels: contracts, plugins, on-merge-train
