Repository sphinx-labs/sphinx, pull requests merged in 2023-12, with the labels that each got.

#1211 fix(ct): lock pragma version in core contracts
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/solc.sh
  packages/plugins/test/foundry/Proposal.t.sol
Labels: contracts, plugins

#1210 fix(mt): Merkle tree generation invariant five test incomplete
  packages/contracts/test/mocha/merkle-tree.spec.ts
Labels: contracts

#1212 fix(mt): Merkle tree generation invariant 3 not checked
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/mocha/merkle-tree.spec.ts
Labels: contracts

#1213 fix(ct): remove redundant check for empty Gnosis Safe address
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
Labels: contracts

#1215 fix(ct): use version field in EIP-712 domain separator
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
Labels: contracts, conflict

#1217 docs(ct): exactly one approval leaf
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
Labels: contracts, conflict

#1227 perf(ct): use Gnosis Safe address in memory
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
Labels: contracts, conflict

#1229 perf(ct): cache active merkle root in `execute` function
  package.json
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/package.json
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/addresses.ts
  packages/contracts/src/contract-info.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/core/src/preview.ts
  yarn.lock
Labels: contracts, core, conflict

#1230 perf(ct): cache `arbitraryChain` in the `execute` function of the `SphinxModule`
  package.json
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/package.json
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/addresses.ts
  packages/contracts/src/contract-info.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/core/src/preview.ts
  yarn.lock
Labels: contracts, core, conflict

#1231 perf(ct): cache `leavesExecuted` in the `execute` function of the `SphinxModule`
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
Labels: contracts, conflict

#1233 fix(ct): use `DEFAULT_ADMIN_ROLE`
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
Labels: contracts, conflict

#1236 fix(mt): Refactor type form checks to use shared base type check function
  packages/contracts/src/merkle-tree.ts
Labels: contracts

#1238 chore(ct): remove unnecessary casting for module impl
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
Labels: contracts, conflict

#1239 perf(ct): remove unnecessary `success` boolean assignment
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
Labels: contracts

#1220 fix(ct): fix uri typo in module docs
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/mocha/merkle-tree.spec.ts
  specs/merkle-tree.md
Labels: contracts, conflict

#1221 perf(ct): use merkle root nonce in memory
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/mocha/merkle-tree.spec.ts
  specs/merkle-tree.md
Labels: contracts

#1223 perf(ct): increment nonce using variable in memory
  package.json
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/core/interfaces/ISphinxModule.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/package.json
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/addresses.ts
  packages/contracts/src/contract-info.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/SphinxModuleProxy.t.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
  packages/contracts/test/solc.sh
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/core/src/preview.ts
  packages/plugins/test/foundry/Proposal.t.sol
  specs/merkle-tree.md
  yarn.lock
Labels: contracts, plugins, core, conflict

#1224 fix(ct): remove unnecessary merkle root assignment
  package.json
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/core/interfaces/ISphinxModule.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/package.json
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/addresses.ts
  packages/contracts/src/contract-info.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/SphinxModuleProxy.t.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
  packages/contracts/test/solc.sh
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/core/src/preview.ts
  packages/plugins/test/foundry/Proposal.t.sol
  specs/merkle-tree.md
  yarn.lock
Labels: contracts, conflict

#1225 perf(ct): change order of require statements to delay sload
  package.json
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/core/interfaces/ISphinxModule.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/package.json
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/addresses.ts
  packages/contracts/src/contract-info.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/SphinxModuleProxy.t.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
  packages/contracts/test/solc.sh
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/core/src/preview.ts
  packages/plugins/test/foundry/Proposal.t.sol
  specs/merkle-tree.md
  yarn.lock
Labels: contracts, conflict

#1226 perf(ct): use msg.sender instead of executor
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/core/interfaces/ISphinxModule.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/SphinxModuleProxy.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
  specs/merkle-tree.md
Labels: contracts

#1241 fix(ct): check for valid safe proxy and safe singleton in module
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleProxyFactory.sol
  packages/contracts/contracts/core/interfaces/ISphinxModule.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/safe-artifacts/v1.3.0/GnosisSafe.sol/GnosisSafe.json
  packages/contracts/safe-artifacts/v1.3.0/GnosisSafeL2.sol/GnosisSafeL2.json
  packages/contracts/safe-artifacts/v1.3.0/accessors/SimulateTxAccessor.sol/SimulateTxAccessor.json
  packages/contracts/safe-artifacts/v1.3.0/handler/CompatibilityFallbackHandler.sol/CompatibilityFallbackHandler.json
  packages/contracts/safe-artifacts/v1.3.0/handler/DefaultCallbackHandler.sol/DefaultCallbackHandler.json
  packages/contracts/safe-artifacts/v1.3.0/libraries/CreateCall.sol/CreateCall.json
  packages/contracts/safe-artifacts/v1.3.0/libraries/MultiSend.sol/MultiSend.json
  packages/contracts/safe-artifacts/v1.3.0/libraries/MultiSendCallOnly.sol/MultiSendCallOnly.json
  packages/contracts/safe-artifacts/v1.3.0/libraries/SignMessageLib.sol/SignMessageLib.json
  packages/contracts/safe-artifacts/v1.3.0/proxies/GnosisSafeProxy.sol/GnosisSafeProxy.json
  packages/contracts/safe-artifacts/v1.3.0/proxies/GnosisSafeProxyFactory.sol/GnosisSafeProxyFactory.json
  packages/contracts/safe-artifacts/v1.4.1/Safe.sol/Safe.json
  packages/contracts/safe-artifacts/v1.4.1/SafeL2.sol/SafeL2.json
  packages/contracts/safe-artifacts/v1.4.1/proxies/SafeProxy.sol/SafeProxy.json
  packages/contracts/safe-artifacts/v1.4.1/proxies/SafeProxyFactory.sol/SafeProxyFactory.json
  packages/contracts/src/ifaces.ts
  packages/contracts/test/SphinxModuleProxy.t.sol
  packages/contracts/test/SphinxModuleProxyFactory.t.sol
  packages/contracts/test/TestUtils.t.sol
  specs/sphinx-module-proxy-factory.md
  specs/sphinx-module-proxy.md
Labels: contracts

#1244 feat(pg): Enable human readable actions in CLI
  packages/contracts/contracts/foundry/SphinxPluginTypes.sol
  packages/core/src/config/fetch.ts
  packages/core/src/config/utils.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/script/Sample.s.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/test/foundry/Proposal.t.sol
  packages/plugins/test/mocha/foundry/proposal-simulation.spec.ts
Labels: contracts, plugins, core
