Repository sphinx-labs/sphinx, pull requests merged in 2023-11, with the labels that each got.

#1144 Update deployment tests
  packages/core/src/preview.ts
  packages/plugins/contracts/test/Fallback.sol
  packages/plugins/contracts/test/conflictingNameContracts/First.sol
  packages/plugins/contracts/test/conflictingNameContracts/Second.sol
  packages/plugins/contracts/test/script/Cases.s.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/test/foundry/TypeGenTest.t.sol
  packages/plugins/test/mocha/cli/deploy.spec.ts
Labels: plugins, core

#1145 Fix executor tests
  packages/core/src/actions/bundle.ts
  packages/core/src/config/types.ts
  packages/executor/client/SphinxClient.sol
  packages/executor/script/ExecutorTest.s.sol
  packages/executor/test/Executor.spec.ts
  packages/plugins/src/foundry/decode.ts
Labels: plugins, core, executor

#1147 feat(core): Add utilities for finding parsed ActionInputs
  packages/core/src/actions/bundle.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/utils/index.ts
Labels: plugins, core

#1149 fix: change docs to link to the main branch instead of develop
  .changeset/cool-baboons-greet.md
  README.md
  docs/ci-proposals.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  docs/faq.md
  docs/ops-getting-started.md
  docs/ops-overview.md
  docs/writing-scripts.md
  packages/contracts/package.json
  packages/core/package.json
  packages/core/src/preview.ts
  packages/demo/package.json
  packages/demo/test/init.spec.ts
  packages/executor/package.json
  packages/plugins/package.json
  packages/plugins/src/sample-project/sample-contracts.ts
  packages/plugins/test/mocha/cli/deploy.spec.ts
  packages/plugins/test/mocha/cli/propose.spec.ts
Labels: contracts, plugins, core, executor

#1153 fix(core): Fix etherscan verification utility
  .changeset/hip-buttons-rush.md
  packages/core/src/etherscan.ts
Labels: core

#1154 Version Packages
  .changeset/hip-buttons-rush.md
  packages/core/src/etherscan.ts
Labels: core

#1155 Main
  .changeset/forty-cups-happen.md
  .changeset/hip-buttons-rush.md
  README.md
  docs/ci-proposals.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  docs/faq.md
  docs/ops-getting-started.md
  docs/ops-overview.md
  docs/writing-scripts.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/preview.ts
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/demo/test/init.spec.ts
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
  packages/plugins/src/sample-project/sample-contracts.ts
  packages/plugins/test/mocha/cli/deploy.spec.ts
  packages/plugins/test/mocha/cli/propose.spec.ts
Labels: contracts, plugins, core, executor

#1157 Core bundling logic for new merkle tree structure
  packages/core/src/actions/module.ts
  specs/bundling.md
Labels: core

#1158 fix(pg): validate that the chain ID is correct in the user's script
  .changeset/four-terms-turn.md
  README.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  docs/ops-getting-started.md
  docs/ops-overview.md
  docs/troubleshooting-guide.md
  packages/demo/foundry.toml
  packages/demo/test/init.spec.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/sample-project/sample-foundry-config.ts
Labels: plugins

#1159 fix(pg): Update init command to better support pnpm
  .changeset/hot-flies-nail.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  packages/plugins/src/cli/index.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-foundry-config.ts
Labels: plugins

#1160 Release
  .changeset/four-terms-turn.md
  .changeset/hot-flies-nail.md
  README.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  docs/ops-getting-started.md
  docs/ops-overview.md
  docs/troubleshooting-guide.md
  packages/demo/foundry.toml
  packages/demo/test/init.spec.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/cli/index.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-foundry-config.ts
Labels: plugins

#1164 fix(pg): Don't include forge-std or ds-test in recommended quickstart remappings
  .changeset/selfish-jars-bake.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  packages/plugins/src/sample-project/index.ts
Labels: plugins

#1168 Update core init
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/index.ts
  packages/core/src/actions/module.ts
  packages/core/src/addresses.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/types.ts
  packages/core/src/contract-info.ts
  packages/core/src/etherscan.ts
  packages/core/src/execution/index.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/preview.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/remappings.txt
  packages/plugins/script/write-constants.ts
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/cli/index.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/foundry/artifacts.ts
  packages/plugins/src/foundry/decode.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/types.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/test/mocha/foundry/proposal-simulation.spec.ts
  yarn.lock
Labels: contracts, plugins, core

#1169 a
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
Labels: plugins

#1170 Update types
  packages/contracts/src/module.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
Labels: contracts, plugins

#1171 a
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/test/script/Cases.s.sol
  packages/plugins/contracts/test/script/Empty.s.sol
  packages/plugins/contracts/test/script/Simple.s.sol
  packages/plugins/script/Sample.s.sol
  packages/plugins/script/write-constants.ts
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/test/foundry/Proposal.t.sol
Labels: plugins

#1172 Change forge-std dependency name
  package.json
  packages/contracts/.gitignore
  packages/contracts/contracts/SphinxModule.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  packages/contracts/src/index.ts
  packages/contracts/test/SphinxBalance.t.sol
  packages/contracts/test/SphinxBalanceFactory.t.sol
  packages/contracts/test/SphinxEscrow.t.sol
  packages/contracts/test/SphinxModule.t.sol
  packages/core/src/actions/artifacts.ts
  packages/core/src/config/types.ts
  packages/core/src/etherscan.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/iterator.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxCollector.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/test/SphinxTestUtils.sol
  packages/plugins/remappings.txt
  packages/plugins/script/Sample.s.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/foundry/decode.ts
  packages/plugins/src/foundry/types.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/test/foundry/SphinxUtils.t.sol
  yarn.lock
Labels: contracts, plugins, core

#1173 Pate/depoy task pre audit
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxBalance.sol
  packages/contracts/contracts/core/SphinxBalanceFactory.sol
  packages/contracts/contracts/core/SphinxDataTypes.sol
  packages/contracts/contracts/core/SphinxEscrow.sol
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/core/SphinxModuleFactory.sol
  packages/contracts/contracts/core/interfaces/IOwnable.sol
  packages/contracts/contracts/core/interfaces/ISphinxAccessControl.sol
  packages/contracts/contracts/core/interfaces/ISphinxAccessControlEnumerable.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxPluginTypes.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/scripts/write-constants.ts
  packages/contracts/src/contract-info.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/test/SphinxBalance.t.sol
  packages/contracts/test/SphinxBalanceFactory.t.sol
  packages/contracts/test/SphinxEscrow.t.sol
  packages/contracts/test/SphinxModule.t.sol
  packages/contracts/test/TestUtils.t.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/foundry/decode.ts
  packages/plugins/src/foundry/utils/index.ts
Labels: contracts, plugins

#1174 Finish deploy task
  packages/contracts/contracts/core/SphinxModule.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxPluginTypes.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/test/TestUtils.t.sol
  packages/core/src/config/types.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/test/Stateless.sol
  packages/plugins/script/Sample.s.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/foundry/artifacts.ts
  packages/plugins/src/foundry/decode.ts
  packages/plugins/src/foundry/utils/index.ts
Labels: contracts, plugins, core

#1175 propose task
  docs/ci-proposals.md
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/foundry.toml
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/types.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/script/Sample.s.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/types.ts
  packages/plugins/src/foundry/utils/index.ts
Labels: contracts, plugins, core

#1176 Support execution via website
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/core/SphinxModuleFactory.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxPluginTypes.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/scripts/write-constants.ts
  packages/contracts/src/addresses.ts
  packages/contracts/src/contract-info.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/src/module.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/types.ts
  packages/core/src/constants.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/script/Sample.s.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/foundry/decode.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/types.ts
  packages/plugins/src/foundry/utils/index.ts
Labels: contracts, plugins, core

#1179 Add managed service spec
  packages/contracts/contracts/core/ManagedService.sol
  specs/managed-service.md
Labels: contracts

#1180 Add tests for managed service
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/test/ManagedService.t.sol
  specs/managed-service.md
Labels: contracts

#1182 Pate/update tests
  package.json
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxPluginTypes.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/scripts/write-constants.ts
  packages/contracts/src/addresses.ts
  packages/contracts/test/ManagedService.t.sol
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/test/script/Cases.s.sol
  packages/plugins/contracts/test/script/Empty.s.sol
  packages/plugins/contracts/test/script/Simple.s.sol
  packages/plugins/script/Sample.s.sol
  packages/plugins/script/solc.sh
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/foundry/decode.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/test/foundry/Proposal.t.sol
  packages/plugins/test/mocha/cli/propose.spec.ts
  packages/plugins/test/mocha/foundry/proposal-simulation.spec.ts
  yarn.lock
Labels: contracts, plugins, core

#1183 Update bundling logic spec, and add inline docs
  packages/contracts/contracts/foundry/SphinxPluginTypes.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/scripts/output-merkle-tree.ts
  packages/contracts/src/index.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/src/module.ts
  packages/contracts/test/ManagedService.t.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/types.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/index.ts
  packages/core/src/tasks/index.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/foundry/types.ts
  packages/plugins/test/foundry/Proposal.t.sol
  packages/plugins/test/mocha/cli/propose.spec.ts
  packages/plugins/test/mocha/foundry/proposal-simulation.spec.ts
  specs/bundling.md
  specs/managed-service.md
  specs/merkle-tree-generation.md
Labels: contracts, plugins, core

#1185 Update merkle tree spec
  packages/contracts/package.json
  packages/contracts/scripts/output-merkle-tree.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/mocha/merkle-tree.spec.ts
  packages/core/src/tasks/index.ts
  packages/plugins/test/mocha/cli/deploy.spec.ts
  specs/introduction.md
  specs/merkle-tree-generation.md
  specs/merkle-tree.md
  specs/sphinx-module-proxy.md
  yarn.lock
Labels: contracts, plugins, core

#1188 Add merkle tree specs
  packages/contracts/package.json
  packages/contracts/src/contract-info.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/mocha/merkle-tree.spec.ts
  packages/plugins/test/mocha/cli/deploy.spec.ts
Labels: contracts, plugins

#1189 fix test ordering
  packages/contracts/package.json
Labels: contracts

#1194 Managed service feedback
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/test/ManagedService.t.sol
  specs/managed-service.md
Labels: contracts

#1196 Update deployment uri to uri
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/mocha/merkle-tree.spec.ts
Labels: contracts

#1197 Update readmes in packages
  packages/contracts/README.md
  packages/core/README.md
  packages/demo/README.md
  packages/executor/README.md
  packages/plugins/README.md
Labels: contracts, plugins, core, executor

#1198 Remove executor package
  package.json
  packages/contracts/scripts/output-merkle-tree.ts
  packages/contracts/test/ManagedService.t.sol
  packages/core/src/tasks/index.ts
  packages/executor/.dockerignore
  packages/executor/.env.example
  packages/executor/.eslintrc.js
  packages/executor/.gitignore
  packages/executor/.lintstagedrc.yml
  packages/executor/.prettierrc.js
  packages/executor/CHANGELOG.md
  packages/executor/Dockerfile
  packages/executor/LICENSE
  packages/executor/README.md
  packages/executor/contracts/ExecutorTest.sol
  packages/executor/foundry.toml
  packages/executor/hardhat.config.ts
  packages/executor/package.json
  packages/executor/script/ExecutorTest.s.sol
  packages/executor/src/index.ts
  packages/executor/src/types.ts
  packages/executor/src/utils/child.ts
  packages/executor/src/utils/execute.ts
  packages/executor/src/utils/helpers.ts
  packages/executor/src/utils/index.ts
  packages/executor/test/Executor.spec.ts
  packages/executor/tsconfig.json
Labels: contracts, core, executor

#1200 Refactor merkle tree tests
  packages/contracts/src/merkle-tree.ts
  packages/contracts/test/mocha/merkle-tree.spec.ts
  specs/merkle-tree.md
Labels: contracts

#1202 Update links
  README.md
  packages/contracts/README.md
  packages/contracts/src/merkle-tree.ts
  packages/core/README.md
  packages/demo/README.md
  packages/plugins/README.md
  scripts/build-release.sh
  specs/introduction.md
  specs/merkle-tree.md
  specs/sphinx-module-proxy-factory.md
  specs/sphinx-module-proxy.md
Labels: contracts, plugins, core

#1203 fix ci build
  .circleci/config.yml
  packages/contracts/.prettierignore
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/src/contract-info.ts
  packages/contracts/test/ManagedService.t.sol
  packages/core/hardhat.config.ts
  packages/core/src/config/types.ts
  packages/core/src/languages/solidity/iterator.ts
  packages/core/test/preview.spec.ts
  packages/core/test/utils.spec.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxCollector.sol
  packages/plugins/contracts/test/ContainsStorage.sol
  packages/plugins/contracts/test/MyContracts.sol
  packages/plugins/contracts/test/SimpleStorage.sol
  packages/plugins/contracts/test/SphinxTestUtils.sol
  packages/plugins/contracts/test/Stateless.sol
  packages/plugins/contracts/test/typegen/FunctionInputType.sol
  packages/plugins/contracts/test/typegen/conflictingQualifiedNames/ConflictingNameChild.sol
  packages/plugins/contracts/test/typegen/conflictingTypeNames/First.sol
  packages/plugins/contracts/test/typegen/contractInputs/ConflictingContractInput.sol
  packages/plugins/contracts/test/typegen/contractInputs/FunctionContract.sol
  packages/plugins/contracts/test/typegen/imports/Alias.sol
  packages/plugins/contracts/test/typegen/imports/AliasArray.sol
  packages/plugins/contracts/test/typegen/imports/ChildParentImportsTypes.sol
  packages/plugins/contracts/test/typegen/imports/NoAlias.sol
  packages/plugins/contracts/test/typegen/imports/NoAliasArray.sol
  packages/plugins/contracts/test/typegen/imports/Types.sol
  packages/plugins/contracts/test/typegen/inheritance/Alias.sol
  packages/plugins/contracts/test/typegen/nestedParentImport/A.sol
  packages/plugins/package.json
  packages/plugins/test/mocha/foundry/proposal-simulation.spec.ts
  yarn.lock
Labels: contracts, plugins, core

#1204 Comments
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/test/ManagedService.t.sol
  packages/contracts/test/SphinxModuleProxy.t.sol
  packages/contracts/test/mocha/merkle-tree.spec.ts
  specs/managed-service.md
  specs/merkle-tree.md
Labels: contracts

#1242 feat(core): Add Drippie contracts to init process
  package.json
  packages/contracts/contracts/foundry/SphinxConstants.sol
  packages/contracts/contracts/foundry/SphinxUtils.sol
  packages/contracts/package.json
  packages/contracts/src/addresses.ts
  packages/contracts/src/contract-info.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/core/src/preview.ts
  yarn.lock
Labels: contracts, core

#1240 docs(ct): Document `exec` function can target EOA
  packages/contracts/contracts/core/ManagedService.sol
  packages/contracts/contracts/foundry/SphinxConstants.sol
Labels: contracts

#1218 fix(mt): Check NetworkDeploymentData.tx form
  packages/contracts/scripts/output-deployment-merkle-tree.ts
  packages/contracts/src/merkle-tree.ts
Labels: contracts
