Repository sphinx-labs/sphinx, pull requests merged in 2023-06, with the labels that each got.

#736 Fix execution logic bugs
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/foundry.toml
Labels: plugins

#739 Sg/port deploy task
  packages/core/src/config/parse.ts
  packages/core/src/types.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
Labels: plugins, core

#743 Optimize Foundry ChugSplash Init
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/foundry-contracts/ChugSplashConstants.sol
  packages/plugins/package.json
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/scripts/ChugSplash.s.sol
  packages/plugins/src/scripts/timer.ts
  packages/plugins/src/scripts/write-constants.ts
Labels: plugins

#745 update solidity-stringutils remapping
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/remappings.txt
Labels: plugins

#746 Add support for other tasks in foundry, cancel, propose, init, import, export
  package.json
  packages/contracts/src/constants.ts
  packages/core/src/actions/artifacts.ts
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/demo/contracts/Deploy.sol
  packages/demo/tests/HelloChugSplash.t.sol
  packages/executor/test/Executor.test.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/foundry-contracts/ChugSplashConstants.sol
  packages/plugins/foundry.toml
  packages/plugins/package.json
  packages/plugins/remappings.txt
  packages/plugins/src/cli/Propose.s.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-chugsplash-files.ts
  packages/plugins/src/sample-project/sample-contract.ts
  packages/plugins/src/scripts/write-constants.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  yarn.lock
Labels: contracts, plugins, core, executor

#747 Fix Executor Test
  package.json
  packages/core/src/tasks/index.ts
  packages/demo/tests/HelloChugSplash.t.sol
  packages/executor/hardhat.config.ts
  packages/plugins/foundry.toml
  packages/plugins/src/cli/index.ts
Labels: plugins, core, executor

#748 optimize `getMinimalConfig` and `getBundleInfo`
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/addresses.ts
  packages/core/src/config/config.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/index.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/config/utils.ts
  packages/core/src/etherscan.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/iterator.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/executor/test/Executor.test.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/foundry-contracts/ChugSplashPluginTypes.sol
  packages/plugins/foundry-contracts/ChugSplashUtils.sol
  packages/plugins/package.json
  packages/plugins/src/cre.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/get-minimal-config.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/paths.ts
  packages/plugins/src/foundry/structs.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/display-bundle-info.ts
  packages/plugins/src/scripts/timer.ts
  packages/plugins/src/scripts/write-constants.ts
  packages/plugins/test/Metatx.spec.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins, core, executor

#749 add support for typescript configs in foundry
  packages/core/src/types.ts
  packages/executor/test/Executor.test.ts
  packages/plugins/chugsplash/foundry/claim.t.js
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/cre.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/get-minimal-config.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/paths.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/ChugSplash.s.sol
  packages/plugins/src/scripts/display-bundle-info.ts
  packages/plugins/test/Metatx.spec.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/Validation.spec.ts
Labels: plugins, core, executor

#750 Use SWC to speed up transpilation from TypeScript to JavaScript
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/package.json
  yarn.lock
Labels: plugins

#751 Sg/foundry cleanup
  packages/core/src/config/config.ts
  packages/plugins/.gitignore
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/foundry-contracts/lib/strings.sol
  packages/plugins/package.json
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/paths.ts
  packages/plugins/src/scripts/ChugSplash.s.sol
  yarn.lock
Labels: plugins, core

#753 Random cleanup
  packages/core/src/constants.ts
  packages/core/src/messages/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/cli/Propose.s.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/logs.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/sample-project/index.ts
Labels: plugins, core

#752 Testing and Directory Cleanup
  packages/plugins/chugsplash/Create3.config.ts
  packages/plugins/chugsplash/foundry/claim.t.js
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/chugsplash/foundry/transfer.t.js
  packages/plugins/chugsplash/hardhat/SimpleProject.config.ts
  packages/plugins/chugsplash/proxies/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/proxies/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/proxies/UUPSOwnableUpgradableUpgrade.config.ts
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/contracts/foundry/ChugSplashPluginTypes.sol
  packages/plugins/contracts/foundry/ChugSplashUtils.sol
  packages/plugins/contracts/foundry/lib/strings.sol
  packages/plugins/contracts/test/ComplexConstructorArgs.sol
  packages/plugins/contracts/test/ConstructorArgsValidationPartOne.sol
  packages/plugins/contracts/test/ConstructorArgsValidationPartTwo.sol
  packages/plugins/contracts/test/Reverter.sol
  packages/plugins/contracts/test/SimpleStorage.sol
  packages/plugins/contracts/test/Stateless.sol
  packages/plugins/contracts/test/Storage.sol
  packages/plugins/contracts/test/TransparentUpgradableV1.sol
  packages/plugins/contracts/test/TransparentUpgradableV2.sol
  packages/plugins/contracts/test/UUPSAccessControlUpgradableV1.sol
  packages/plugins/contracts/test/UUPSAccessControlUpgradableV2.sol
  packages/plugins/contracts/test/UUPSOwnableUpgradableV1.sol
  packages/plugins/contracts/test/UUPSOwnableUpgradableV2.sol
  packages/plugins/contracts/test/VariableValidation.sol
  packages/plugins/foundry.toml
  packages/plugins/hardhat.config.ts
  packages/plugins/package.json
  packages/plugins/scripts/ChugSplash.s.sol
  packages/plugins/scripts/GenerateArtifacts.s.sol
  packages/plugins/scripts/display-bundle-info.ts
  packages/plugins/scripts/timer.ts
  packages/plugins/scripts/write-constants.ts
  packages/plugins/src/scripts/ChugSplash.s.sol
  packages/plugins/test/Create3.spec.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  packages/plugins/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: plugins

#754 Default unsafeAllow.flexibleConstructor to false
  packages/core/src/config/parse.ts
  packages/executor/chugsplash/ExecutorTest.config.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
Labels: plugins, core, executor

#755 Make the contract kind field mandatory and change non proxy
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerEvents.sol
  packages/contracts/src/constants.ts
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/config.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/config/utils.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/utils.ts
  packages/executor/chugsplash/ExecutorTest.config.ts
  packages/executor/contracts/ExecutorTest.sol
  packages/executor/test/Executor.test.ts
  packages/plugins/chugsplash/ConstructorArgValidation.config.ts
  packages/plugins/chugsplash/Create3.config.ts
  packages/plugins/chugsplash/Metatx.config.ts
  packages/plugins/chugsplash/NoProxyContractReference.config.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/chugsplash/Validation.config.ts
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/contracts/foundry/ChugSplashPluginTypes.sol
  packages/plugins/contracts/foundry/ChugSplashUtils.sol
  packages/plugins/contracts/foundry/lib/strings.sol
  packages/plugins/contracts/test/ComplexConstructorArgs.sol
  packages/plugins/contracts/test/ConstructorArgsValidationPartOne.sol
  packages/plugins/contracts/test/ConstructorArgsValidationPartTwo.sol
  packages/plugins/contracts/test/SimpleStorage.sol
  packages/plugins/contracts/test/Stateless.sol
  packages/plugins/contracts/test/Storage.sol
  packages/plugins/contracts/test/TransparentUpgradableV1.sol
  packages/plugins/contracts/test/UUPSAccessControlUpgradableV1.sol
  packages/plugins/contracts/test/UUPSOwnableUpgradableV1.sol
  packages/plugins/contracts/test/VariableValidation.sol
  packages/plugins/scripts/write-constants.ts
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  specs/chugsplash-config.md
  yarn.lock
Labels: contracts, plugins, core, executor

#758 Write Canonical Config
  packages/plugins/src/foundry/get-bundle-info.ts
Labels: plugins

#756 Remove force during compilation
  packages/core/src/utils.ts
  packages/executor/package.json
  packages/plugins/package.json
  packages/plugins/script/ChugSplash.s.sol
  packages/plugins/script/GenerateArtifacts.s.sol
  packages/plugins/script/display-bundle-info.ts
  packages/plugins/script/timer.ts
  packages/plugins/script/write-constants.ts
  packages/plugins/scripts/GenerateArtifacts.s.sol
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/get-minimal-config.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/options.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  yarn.lock
Labels: plugins, core, executor

#760 remove pranks from the foundry deployment process
  packages/contracts/contracts/ChugSplashClaimer.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/adapters/cross-chain/ConnextCrossChainAdapter.sol
  packages/contracts/contracts/adapters/cross-chain/LocalAdapter.sol
  packages/core/src/addresses.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/test/ManagerUpgrade.spec.ts
Labels: contracts, plugins, core

#762 Sg/cli propose
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/foundry/Propose.sol
  packages/plugins/package.json
  packages/plugins/script/ChugSplash.s.sol
  packages/plugins/src/cli/index.ts
Labels: plugins

#765 Sort Build Info Files
  packages/plugins/src/foundry/utils/index.ts
Labels: plugins

#769 Fix Propose Bug
  packages/plugins/src/foundry/index.ts
Labels: plugins

#773 fix(core): Handle error thrown when using hardhat_metadata on a live network
  packages/core/src/tasks/index.ts
Labels: core

#775 fix(ci): Fix release workflow
  .github/workflows/release.yml
Labels: ci

#776 Fix Workflow
  .github/workflows/release.yml
Labels: ci

#777 Fix workflow syntax issue
  .github/workflows/release.yml
Labels: ci

#778 Release with workflow fix
  .github/workflows/release.yml
Labels: ci

#779 fix(ci): Revert release workflow update
  .github/workflows/release.yml
Labels: ci

#780 Release
  .github/workflows/release.yml
Labels: ci

#782 Version Packages
  .changeset/thick-llamas-smash.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#783 fix(pg): Fix issue where reading registry code fails on live network during proposal
  .changeset/itchy-kings-brush.md
  packages/plugins/src/cli/index.ts
Labels: plugins

#784 Release Packages
  .changeset/itchy-kings-brush.md
  packages/plugins/src/cli/index.ts
Labels: plugins

#786 Version Packages
  .changeset/itchy-kings-brush.md
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#787 fix(pg): Fix issues with production package installation
  .changeset/breezy-actors-report.md
  .changeset/perfect-queens-wonder.md
  docs/foundry/getting-started.md
  packages/contracts/package.json
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/contracts/foundry/ChugSplashPluginTypes.sol
  packages/plugins/contracts/foundry/ChugSplashUtils.sol
  packages/plugins/contracts/foundry/Propose.sol
  packages/plugins/package.json
  packages/plugins/script/write-constants.ts
Labels: contracts, plugins

#788 Release
  .changeset/breezy-actors-report.md
  .changeset/perfect-queens-wonder.md
  docs/foundry/getting-started.md
  packages/contracts/package.json
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/contracts/foundry/ChugSplashPluginTypes.sol
  packages/plugins/contracts/foundry/ChugSplashUtils.sol
  packages/plugins/contracts/foundry/Propose.sol
  packages/plugins/package.json
  packages/plugins/script/write-constants.ts
Labels: contracts, plugins

#790 Version Packages
  .changeset/breezy-actors-report.md
  .changeset/perfect-queens-wonder.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins

#791 fix(pg): Fix bugs in sample project generation
  .changeset/metal-otters-draw.md
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-contract.ts
Labels: plugins

#772 ci: build and push docker image
  .circleci/config.yml
  .github/workflows/docker-image.yml
  ops/ci-builder/Dockerfile
  ops/ci-builder/check-changed.sh
Labels: ci

#793 ci: use correct github events in docker image workflow
  .github/workflows/docker-image.yml
  ops/ci-builder/Dockerfile
Labels: ci

#768 fix(pg): add `vm.readCallers` to the Foundry deployment process
  .changeset/beige-lies-cry.md
  packages/contracts/package.json
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/foundry/ChugSplashPluginTypes.sol
  packages/plugins/package.json
  packages/plugins/script/ChugSplash.s.sol
  packages/plugins/script/timer.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/get-configs.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  yarn.lock
Labels: contracts, plugins, core, ci

#795 ci: fix check-changed script bug
  .github/workflows/docker-image.yml
Labels: ci

#796 a
  packages/plugins/script/timer.ts
Labels: plugins

#800 Sg/docker image
  packages/plugins/script/timer.ts
Labels: plugins

#802 ci: fix check-changed script
  .github/workflows/docker-image.yml
  ops/ci-builder/check-changed.sh
Labels: ci

#804 fix(pg): minimize size of ChugSplash.sol and allow Solidity versions >= 0.7.4
  .changeset/pretty-chicken-crash.md
  .github/workflows/docker-image.yml
  ops/ci-builder/Dockerfile
  ops/ci-builder/check-changed.sh
  packages/contracts/contracts/ChugSplashClaimer.sol
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerEvents.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/ChugSplashRegistryEvents.sol
  packages/contracts/contracts/Semver.sol
  packages/contracts/contracts/interfaces/IChugSplashManager.sol
  packages/contracts/contracts/interfaces/IChugSplashRegistry.sol
  packages/contracts/contracts/interfaces/IOwnable.sol
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/contracts/foundry/ChugSplashPluginTypes.sol
  packages/plugins/contracts/foundry/ChugSplashTasks.sol
  packages/plugins/contracts/foundry/ChugSplashUtils.sol
  packages/plugins/contracts/foundry/Propose.sol
  packages/plugins/contracts/foundry/interfaces/IChugSplashUtils.sol
  packages/plugins/contracts/test/Stateless.sol
  packages/plugins/package.json
  packages/plugins/script/GenerateArtifacts.s.sol
  packages/plugins/script/write-constants.ts
  packages/plugins/src/cli/index.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  yarn.lock
Labels: contracts, plugins, ci

#805 Release
  .changeset/beige-lies-cry.md
  .changeset/metal-otters-draw.md
  .changeset/pretty-chicken-crash.md
  .circleci/config.yml
  .github/workflows/docker-image.yml
  ops/ci-builder/Dockerfile
  ops/ci-builder/check-changed.sh
  packages/contracts/contracts/ChugSplashClaimer.sol
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerEvents.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/ChugSplashRegistryEvents.sol
  packages/contracts/contracts/Semver.sol
  packages/contracts/contracts/interfaces/IChugSplashManager.sol
  packages/contracts/contracts/interfaces/IChugSplashRegistry.sol
  packages/contracts/contracts/interfaces/IOwnable.sol
  packages/contracts/package.json
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/contracts/foundry/ChugSplashPluginTypes.sol
  packages/plugins/contracts/foundry/ChugSplashTasks.sol
  packages/plugins/contracts/foundry/ChugSplashUtils.sol
  packages/plugins/contracts/foundry/Propose.sol
  packages/plugins/contracts/foundry/interfaces/IChugSplashUtils.sol
  packages/plugins/contracts/test/Stateless.sol
  packages/plugins/package.json
  packages/plugins/script/ChugSplash.s.sol
  packages/plugins/script/GenerateArtifacts.s.sol
  packages/plugins/script/timer.ts
  packages/plugins/script/write-constants.ts
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/get-configs.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-contract.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  yarn.lock
Labels: contracts, plugins, core, ci

#808 Version Packages
  .changeset/beige-lies-cry.md
  .changeset/metal-otters-draw.md
  .changeset/pretty-chicken-crash.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins

#809 ci: fix check-changed script
  .github/workflows/docker-image.yml
  ops/ci-builder/check-changed.sh
Labels: ci

#810 fix(pg): Fix foundry onboarding sample project issues
  .changeset/shaggy-zebras-wash.md
  docs/foundry/getting-started.md
  packages/plugins/package.json
  packages/plugins/src/cli/index.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-contract.ts
Labels: plugins

#811 fix(pg): Fix issue with importing chugsplash utils file when installed in users project
  packages/plugins/src/foundry/get-configs.ts
Labels: plugins

#812 Release
  .changeset/shaggy-zebras-wash.md
  .github/workflows/docker-image.yml
  docs/foundry/getting-started.md
  ops/ci-builder/check-changed.sh
  packages/plugins/package.json
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/get-configs.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-contract.ts
Labels: plugins, ci

#813 fix(c): Install foundry during release process
  .github/workflows/release.yml
  packages/plugins/package.json
  yarn.lock
Labels: plugins, ci

#814 Release
  .github/workflows/release.yml
  packages/plugins/package.json
  yarn.lock
Labels: plugins, ci

#816 Version Packages
  .changeset/shaggy-zebras-wash.md
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#817 fix(pg): Import utils artifact correctly in get-bundle-info
  docs/foundry/getting-started.md
  packages/plugins/package.json
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/structs.ts
  yarn.lock
Labels: plugins

#819 Release
  .changeset/red-mangos-tie.md
  docs/foundry/getting-started.md
  packages/plugins/package.json
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/structs.ts
  yarn.lock
Labels: plugins

#821 Main
  .changeset/red-mangos-tie.md
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#825 feat(pg): Support fully qualified names in foundry
  .changeset/wicked-coins-jog.md
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/contracts/test/ContainsStorage.sol
  packages/plugins/contracts/test/SimpleStorage.sol
  packages/plugins/contracts/test/Stateless.sol
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins

#824 fix(pg): Use cache to avoid reading all build info files
  .changeset/weak-donkeys-cheer.md
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/options.ts
  packages/plugins/src/foundry/utils/index.ts
Labels: plugins

#826 fix(pg): Detect ambiguous contract names in configs when using foundry
  .changeset/tough-spiders-roll.md
  packages/plugins/src/foundry/utils/index.ts
Labels: plugins

#827 Fix compilation issue when optimizer disabled
  .changeset/few-tips-accept.md
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/contracts/foundry/ChugSplash.sol
  packages/plugins/contracts/test/ContainsStorage.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins

#828 feat(ct): Add crosschain funding contract
  .changeset/shaggy-meals-change.md
  package.json
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashFunder.sol
  packages/contracts/contracts/ChugSplashLZReceiver.sol
  packages/contracts/contracts/Import.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  packages/contracts/test/Funder.t.sol
  packages/core/src/addresses.ts
  packages/core/src/constants.ts
  packages/core/src/contract-info.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/plugins/package.json
  packages/plugins/script/write-constants.ts
  packages/plugins/src/foundry/index.ts
  yarn.lock
Labels: contracts, plugins, core
