Repository sphinx-labs/sphinx, pull requests merged in 2023-10, with the labels that each got.

#1064 Fix proposal bugs
  packages/contracts/contracts/interfaces/ISphinxAuthFactory.sol
  packages/contracts/contracts/interfaces/ISphinxRegistry.sol
  packages/core/src/config/fetch.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/src/foundry/decode.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/utils/index.ts
Labels: contracts, plugins, core

#1065 Smoothly handle upgrades
  packages/contracts/contracts/SphinxDataTypes.sol
  packages/contracts/contracts/interfaces/ISphinxRegistry.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/script/write-constants.ts
  packages/plugins/src/cli/propose/index.ts
Labels: contracts, plugins, core

#1066 Handle unnamed parameters in typegen
  packages/plugins/contracts/test/typegen/UnnamedParameters.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/functions.ts
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: plugins

#1067 Fix linter errors
  packages/contracts/.solhint.json
  packages/contracts/contracts/SphinxManager.sol
  packages/contracts/contracts/interfaces/IAccessControl.sol
  packages/contracts/contracts/interfaces/ISemver.sol
  packages/contracts/contracts/interfaces/ISphinxAuth.sol
  packages/contracts/contracts/interfaces/ISphinxAuthFactory.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/config/types.ts
  packages/core/src/config/utils.ts
  packages/core/src/etherscan.ts
  packages/core/src/execution/index.ts
  packages/demo/src/index.ts
  packages/plugins/.eslintrc.js
  packages/plugins/.solhintignore
  packages/plugins/contracts/foundry/AbstractContractClient.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/test/typegen/UnnamedParameters.sol
  packages/plugins/package.json
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/artifacts.ts
  packages/plugins/test/foundry/ChainSpecificConfiguration.t.sol
  packages/plugins/test/foundry/MaxArgs.t.sol
  packages/plugins/test/foundry/SphinxUtils.t.sol
  packages/plugins/test/foundry/StateDependentActions.t.sol
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: contracts, plugins, core

#1068 fix monorepo compilation
  package.json
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/package.json
  yarn.lock
Labels: plugins

#1069 Clean support for verification using forge verify
  packages/core/src/etherscan.ts
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/foundry.toml
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/options.ts
Labels: plugins, core

#1070 Fix foundry toml rpc urls
  packages/plugins/foundry.toml
Labels: plugins

#1071 Deploy managed service on optimism
  packages/core/src/addresses.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/script/write-constants.ts
Labels: plugins, core

#1073 Fix struct array input typegen
  packages/plugins/contracts/test/typegen/ArrayInputTypes.sol
  packages/plugins/contracts/test/typegen/imports/AliasArray.sol
  packages/plugins/contracts/test/typegen/imports/NoAliasArray.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/cli/typegen/functions.ts
  packages/plugins/src/cli/typegen/imports.ts
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: plugins

#1074 support inherited contracts in typegen
  packages/core/src/config/types.ts
  packages/plugins/contracts/test/typegen/inheritance/Alias.sol
  packages/plugins/contracts/test/typegen/inheritance/Child.sol
  packages/plugins/contracts/test/typegen/inheritance/Parent.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: plugins, core

#1077 Rename client files, fix import bugs
  packages/plugins/.gitignore
  packages/plugins/script/ChainSpecificConfiguration.s.sol
  packages/plugins/script/MaxArgsConfiguration.s.sol
  packages/plugins/script/MyScript.s.sol
  packages/plugins/script/StateDependentActionsConfiguration.s.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/cli/typegen/functions.ts
  packages/plugins/src/cli/typegen/imports.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-contracts.ts
  packages/plugins/test/foundry/Create3.t.sol
  packages/plugins/test/foundry/Proposal.t.sol
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: plugins

#1078 Fix bug fetching inherited contract source file
  packages/contracts/contracts/Semver.sol
  packages/contracts/contracts/interfaces/ISphinxAccessControl.sol
  packages/contracts/contracts/interfaces/ISphinxAccessControlEnumerable.sol
  packages/contracts/contracts/interfaces/ISphinxSemver.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/test/typegen/inheritance/Child.sol
  packages/plugins/src/cli/typegen/artifacts.ts
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/cli/typegen/functions.ts
  packages/plugins/src/cli/typegen/imports.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/test/foundry/Proposal.t.sol
Labels: contracts, plugins

#1079 Revert contract name changes, handle conflicting contract names
  packages/contracts/contracts/interfaces/IAccessControl.sol
  packages/contracts/contracts/interfaces/IAccessControlEnumerable.sol
  packages/contracts/contracts/interfaces/ISemver.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/test/foundry/Proposal.t.sol
Labels: contracts, plugins

#1081 Support contracts that inherit from contracts in the same file
  packages/plugins/contracts/test/typegen/inheritance/SameFile.sol
  packages/plugins/package.json
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/cli/typegen/imports.ts
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: plugins

#1082 Skip gen scripts
  packages/plugins/src/cli/typegen/client.ts
Labels: plugins

#1084 Change interface names to be less likely to conflict
  packages/contracts/contracts/interfaces/ISphinxAccessControl.sol
  packages/contracts/contracts/interfaces/ISphinxAccessControlEnumerable.sol
  packages/contracts/contracts/interfaces/ISphinxSemver.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/test/typegen/imports/ChildParentImportsTypes.sol
  packages/plugins/contracts/test/typegen/inheritance/Overrides.sol
  packages/plugins/foundry.toml
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/test/foundry/Proposal.t.sol
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: contracts, plugins

#1085 Document sphinx prefix
  packages/contracts/contracts/interfaces/ISphinxAccessControl.sol
  packages/contracts/contracts/interfaces/ISphinxAccessControlEnumerable.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
Labels: contracts, plugins

#1086 Address comments
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/test/typegen/inheritance/Child.sol
  packages/plugins/contracts/test/typegen/inheritance/Parent.sol
  packages/plugins/script/DeployTypeGenTest.s.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/test/foundry/BroadcastChainSpecific.t.sol
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: plugins

#1088 Use dedicated forge-std installation
  package.json
  packages/plugins/contracts/foundry/AbstractContractClient.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/test/SphinxTestUtils.sol
  packages/plugins/package.json
  packages/plugins/remappings.txt
  packages/plugins/script/BridgeFunds.s.sol
  packages/plugins/script/Sample.s.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/test/foundry/AbstractChainSpecific.t.sol
  packages/plugins/test/foundry/Create3.t.sol
  packages/plugins/test/foundry/MaxArgs.t.sol
  packages/plugins/test/foundry/Proposal.t.sol
  packages/plugins/test/foundry/SphinxUtils.t.sol
  packages/plugins/test/foundry/StateDependentActions.t.sol
  packages/plugins/test/foundry/TypeGenTest.t.sol
  yarn.lock
Labels: plugins

#1089 Fix init bugs
  docs/cli-foundry-quickstart.md
  docs/cli-hardhat-js-getting-started.md
  docs/cli-hardhat-ts-getting-started.md
  docs/ops-foundry-getting-started.md
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-contracts.ts
  packages/plugins/src/sample-project/sample-foundry-config.ts
Labels: plugins

#1090 Handle missing build info files
  packages/plugins/src/foundry/utils/index.ts
Labels: plugins

#1091 Update existing project getting started guide
  docs/ci-hardhat-proposals.md
  docs/cli-foundry-existing-project.md
  docs/cli-foundry-quickstart.md
  docs/config-file.md
  docs/constructor-arg-overrides.md
  docs/ops-hardhat-getting-started.md
  docs/post-deployment-actions.md
  packages/plugins/src/cli/typegen/client.ts
Labels: plugins

#1093 Update dev ops platform guide
  docs/cli-foundry-quickstart.md
  docs/ops-foundry-getting-started.md
  docs/writing-sphinx-scripts.md
  packages/core/src/networks.ts
Labels: core

#1095 Add documentation for deploy and define options
  docs/cli-foundry-quickstart.md
  docs/permissioned-functions.md
  docs/writing-sphinx-scripts.md
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/src/cli/typegen/client.ts
Labels: plugins

#1097 Handle nested parent import
  packages/plugins/contracts/test/typegen/nestedParentImport/A.sol
  packages/plugins/contracts/test/typegen/nestedParentImport/B.sol
  packages/plugins/contracts/test/typegen/nestedParentImport/C.sol
  packages/plugins/contracts/test/typegen/nestedParentImport/D.sol
  packages/plugins/foundry.toml
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: plugins

#1098 Do not load build info output
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/types.ts
  packages/core/src/estimate.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/.gitignore
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/package.json
  packages/plugins/script/write-constants.ts
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/test/mocha/foundry/LocalSphinxManager.spec.ts
Labels: plugins, core, executor

#1100 Update readme
  README.md
  docs/ci-proposals.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  docs/ops-getting-started.md
  docs/writing-sphinx-scripts.md
  packages/contracts/README.md
  packages/core/README.md
  packages/demo/README.md
  packages/executor/README.md
  packages/plugins/README.md
Labels: contracts, plugins, core, executor

#1102 Fix sphinx verification
  packages/core/src/etherscan.ts
  packages/plugins/src/cli/deploy.ts
Labels: plugins, core

#1103 Remove contract clients in typegen
  docs/writing-sphinx-scripts.md
  packages/plugins/contracts/test/StateDependentActions.sol
  packages/plugins/contracts/test/script/Simple.s.sol
  packages/plugins/foundry.toml
  packages/plugins/hardhat.config.ts
  packages/plugins/script/ChainSpecific.s.sol
  packages/plugins/script/MaxArgsConfiguration.s.sol
  packages/plugins/script/Sample.s.sol
  packages/plugins/script/StateDependentActionsConfiguration.s.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/cli/typegen/functions.ts
  packages/plugins/src/cli/typegen/imports.ts
  packages/plugins/src/sample-project/sample-foundry-config.ts
  packages/plugins/test/foundry/AbstractChainSpecific.t.sol
  packages/plugins/test/foundry/Create3.t.sol
  packages/plugins/test/foundry/Idempotence.t.sol
  packages/plugins/test/foundry/Proposal.t.sol
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: plugins

#1104 Test contract inputs
  packages/plugins/contracts/test/typegen/contractInputs/ConflictingContractInput.sol
  packages/plugins/contracts/test/typegen/contractInputs/FunctionContract.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/test/foundry/TypeGenTest.t.sol
  packages/plugins/testExternalContracts/ConflictingExternalContract.sol
Labels: plugins

#1105 Update init command
  packages/demo/foundry.toml
  packages/demo/test/init.spec.ts
  packages/plugins/src/sample-project/sample-contracts.ts
Labels: plugins

#1107 Update docs todos
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  docs/ci-proposals.md
  docs/cli-quickstart.md
  docs/ops-getting-started.md
  docs/pull_request_template.md
  docs/sphinx-manager.md
  docs/writing-sphinx-scripts.md
  packages/core/src/config/types.ts
  packages/executor/hardhat.config.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/script/Sample.s.sol
  packages/plugins/script/display-bundle-info.ts
  packages/plugins/src/cli/index.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-contracts.ts
  packages/plugins/test/foundry/Proposal.t.sol
  packages/plugins/test/mocha/foundry/LocalSphinxManager.spec.ts
Labels: plugins, core, executor, ci

#1108 Fix executor clients
  packages/executor/client/ExecutorTest.c.sol
  packages/executor/client/SphinxClient.sol
Labels: executor

#1110 Passing basic deploy tests
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/test/script/Empty.s.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/test/mocha/cli/deploy.spec.ts
Labels: plugins

#1112 Update executor test
  packages/executor/foundry.toml
  packages/executor/package.json
  packages/executor/script/ExecutorTest.s.sol
  packages/executor/src/index.ts
  packages/executor/src/utils/execute.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/src/cli/propose/index.ts
Labels: plugins, executor

#1119 docs: update docs to reflect first class support of forge scripts
  .changeset/wicked-plums-smash.md
  README.md
  docs/ci-proposals.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  docs/configuring-deployments.md
  docs/faq.md
  docs/ops-getting-started.md
  docs/permissioned-functions.md
  docs/supported-networks.md
  docs/troubleshooting-guide.md
  docs/writing-sphinx-scripts.md
  packages/demo/.gitignore
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/script/ChainSpecific.s.sol
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-foundry-config.ts
Labels: plugins

#1116 Fix github build issue
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
Labels: plugins

#1122 Main
  .changeset/curvy-bulldogs-relax.md
  .changeset/hot-dryers-itch.md
  .changeset/slow-brooms-stare.md
  .changeset/wicked-plums-smash.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/dist/index.d.ts
  packages/demo/dist/index.js
  packages/demo/dist/index.js.map
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#1124 docs: finalize docs pre forge script release
  README.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  docs/configuring-deployments.md
  docs/faq.md
  docs/ops-getting-started.md
  docs/permissioned-functions.md
  docs/sphinx-manager.md
  docs/supported-networks.md
  packages/core/src/networks.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/script/ChainSpecific.s.sol
  packages/plugins/script/run-broadcast-tests.sh
  packages/plugins/src/foundry/decode.ts
Labels: plugins, core, executor

#1128 fix(pg): update remappings and dependencies in quickstart guide
  .changeset/flat-melons-turn.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  docs/ops-getting-started.md
  docs/troubleshooting-guide.md
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/src/sample-project/sample-contracts.ts
  packages/plugins/src/sample-project/sample-foundry-config.ts
Labels: plugins

#1129 fix(pg): use broadcast file instead of events to get transaction receipts for deployment artifacts
  .changeset/empty-feet-notice.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/networks.ts
  packages/core/src/utils.ts
  packages/demo/foundry.toml
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/script/run-broadcast-tests.sh
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/foundry/artifacts.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/types.ts
  packages/plugins/src/sample-project/sample-foundry-config.ts
Labels: plugins, core

#1131 fix(ct): remove dependency on `@eth-optimism/contracts-bedrock`
  .changeset/hot-maps-dream.md
  package.json
  packages/contracts/contracts/Proxy.sol
  packages/contracts/contracts/SphinxAuthProxy.sol
  packages/contracts/contracts/SphinxManagerProxy.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSBaseAdapter.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  packages/core/package.json
  packages/demo/remappings.txt
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/package.json
  packages/plugins/remappings.txt
  yarn.lock
Labels: contracts, plugins, core

#1130 Release
  .changeset/empty-feet-notice.md
  .changeset/flat-melons-turn.md
  .changeset/hot-maps-dream.md
  README.md
  docs/ci-proposals.md
  docs/cli-existing-project.md
  docs/cli-quickstart.md
  docs/configuring-deployments.md
  docs/faq.md
  docs/ops-getting-started.md
  docs/permissioned-functions.md
  docs/sphinx-manager.md
  docs/supported-networks.md
  docs/troubleshooting-guide.md
  package.json
  packages/contracts/contracts/Proxy.sol
  packages/contracts/contracts/SphinxAuthProxy.sol
  packages/contracts/contracts/SphinxManagerProxy.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSBaseAdapter.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  packages/core/package.json
  packages/core/src/actions/artifacts.ts
  packages/core/src/networks.ts
  packages/core/src/utils.ts
  packages/demo/foundry.toml
  packages/demo/remappings.txt
  packages/executor/test/Executor.spec.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/package.json
  packages/plugins/remappings.txt
  packages/plugins/script/ChainSpecific.s.sol
  packages/plugins/script/run-broadcast-tests.sh
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/foundry/artifacts.ts
  packages/plugins/src/foundry/decode.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/types.ts
  packages/plugins/src/sample-project/sample-contracts.ts
  packages/plugins/src/sample-project/sample-foundry-config.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#1133 Version Packages
  .changeset/empty-feet-notice.md
  .changeset/flat-melons-turn.md
  .changeset/hot-maps-dream.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core

#1134 fix(pg): Fix quickstart dependency remappings
  .changeset/sweet-ducks-fix.md
  docs/ci-proposals.md
  docs/cli-existing-project.md
  docs/ops-getting-started.md
  packages/plugins/src/sample-project/sample-foundry-config.ts
Labels: plugins

#1135 Release
  .changeset/sweet-ducks-fix.md
  docs/ci-proposals.md
  docs/cli-existing-project.md
  docs/ops-getting-started.md
  packages/plugins/src/sample-project/sample-foundry-config.ts
Labels: plugins

#1137 Main
  .changeset/sweet-ducks-fix.md
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#1140 Update preview
  packages/core/src/actions/bundle.ts
  packages/core/src/config/types.ts
  packages/core/src/preview.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/script/Preview.s.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/foundry/decode.ts
Labels: plugins, core

#1141 Truncate Calldata
  packages/plugins/script/Preview.s.sol
  packages/plugins/src/foundry/decode.ts
Labels: plugins

#1142 Warn about unlabeled addresses in preview
  packages/core/src/config/types.ts
  packages/core/src/preview.ts
  packages/plugins/contracts/test/ConstructorDeploysContract.sol
  packages/plugins/contracts/test/DeploymentCases.sol
  packages/plugins/contracts/test/script/Cases.s.sol
  packages/plugins/contracts/test/script/Empty.s.sol
  packages/plugins/contracts/test/script/Simple.s.sol
  packages/plugins/src/cli/deploy.ts
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/foundry/decode.ts
  packages/plugins/test/mocha/cli/deploy.spec.ts
Labels: plugins, core
