Repository sphinx-labs/sphinx, pull requests merged in 2023-01, with the labels that each got.

#339 fix(ct): add a universal salt that makes it easy to deploy new versions of the ChugSplash pre-deploys
  .changeset/hot-news-build.md
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/ProxyInitializer.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/ChugSplashRegistry.t.sol
  packages/contracts/test/integration-tests.t.sol
  packages/core/src/languages/solidity/predeploys.ts
Labels: contracts, core

#340 fix(pg): compile contracts without first cleaning artifacts directory
  .changeset/beige-badgers-begin.md
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
Labels: plugins

#342 fix(exec): Better Support for Containerized Executor
  .changeset/slow-lemons-grin.md
  packages/executor/.dockerignore
  packages/executor/.gitignore
  packages/executor/Dockerfile
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/src/utils/constants.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/hardhat.config.ts
Labels: plugins, executor

#343 fix(ex): remove infura as rpc service
  .changeset/short-doors-buy.md
  packages/contracts/hardhat.config.ts
  packages/demo/.env.example
  packages/demo/hardhat.config.ts
  packages/executor/.env.example
  packages/plugins/hardhat.config.ts
Labels: contracts, plugins

#344 fix(ex): fix etherscan verification bug that resulted from incorrect implementation address calculation
  .changeset/famous-pans-provide.md
  packages/core/src/fund.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/constants.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/src/hardhat/artifacts.ts
Labels: plugins, core, executor

#345 fix(ct): use `tx.gasprice` instead of `block.basefee`
  .changeset/chatty-geckos-check.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
Labels: contracts

#347 fix(ct): update owner multisig address
  .changeset/rotten-paws-breathe.md
  packages/contracts/src/constants.ts
Labels: contracts

#351 feat(exec): Support defining executor port with environment variable
  .changeset/tough-ladybugs-appear.md
  packages/executor/.env.example
  packages/executor/src/index.ts
Labels: executor

#352 fix(exec): Add network event parameter to execution analytics event
  .changeset/five-spiders-sparkle.md
  packages/executor/src/index.ts
Labels: executor

#353 fix(core): use EIP-1559 transactions if supported by the network
  .changeset/selfish-badgers-buy.md
  packages/core/src/actions/execute.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#354 Release
  .changeset/five-spiders-sparkle.md
  .changeset/selfish-badgers-buy.md
  .changeset/tough-ladybugs-appear.md
  packages/core/src/actions/execute.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/.env.example
  packages/executor/src/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#356 Version Packages
  .changeset/five-spiders-sparkle.md
  .changeset/selfish-badgers-buy.md
  .changeset/tough-ladybugs-appear.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins, core, executor

#357 fix(pg): remove logic that initialize chugsplash when starting hardhat node
  .changeset/wet-ads-juggle.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#358 Revert "fix(pg): remove logic that initialize chugsplash when starting hardhat node"
  .changeset/wet-ads-juggle.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#359 fix(pg): read sample chugsplash file instead of copying from source
  .changeset/empty-clocks-sleep.md
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/sample-project/hello-chugsplash.js
  packages/plugins/src/sample-project/hello-chugsplash.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-chugsplash-files.ts
Labels: plugins

#362 fix(pg): make '@nomiclabs/hardhat-ethers' a dependency instead of devDependency
  .changeset/silly-tips-doubt.md
  packages/plugins/package.json
Labels: plugins

#360 Release
  .changeset/empty-clocks-sleep.md
  .changeset/silly-tips-doubt.md
  docs/setup-project.md
  packages/plugins/package.json
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/sample-project/hello-chugsplash.js
  packages/plugins/src/sample-project/hello-chugsplash.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-chugsplash-files.ts
Labels: plugins

#365 Release
  .changeset/eleven-donuts-promise.md
  .changeset/empty-clocks-sleep.md
  .changeset/silly-tips-doubt.md
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#368 Version Packages
  .changeset/eleven-donuts-promise.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#370 fix(pg): skip funding deployment that already has sufficient funds
  .changeset/grumpy-pumas-count.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#371 fix(pg): add --no-withdraw to the deploy task
  .changeset/stupid-worms-greet.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/execution.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#372 fix(ex): detect old approval events
  .changeset/afraid-tables-itch.md
  packages/executor/src/index.ts
Labels: executor

#375 Feat(core): Add support for local analytics
  .changeset/purple-actors-grin.md
  .changeset/smart-dodos-judge.md
  packages/core/src/actions/deployments.ts
  packages/core/src/analytics.ts
  packages/core/src/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/demo/.env.example
  packages/executor/src/index.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#376 fix(core): use artifact paths object instead of inferring artifact paths
  .changeset/lucky-paws-suffer.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/deployments.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/execution/index.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/index.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/index.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#377 fix(core): set `strictNullChecks` to true for TypeScript
  .changeset/large-dolls-smile.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  tsconfig.json
Labels: plugins, core

#378 fix(core): add openzeppelin storage slot checker
  .changeset/thin-bats-act.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/core/package.json
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/deployed.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#379 fix(core): improve spinner output timing to avoid pauses
  .changeset/large-dolls-smile.md
  .changeset/lucky-paws-suffer.md
  .changeset/purple-actors-grin.md
  .changeset/shaggy-goats-heal.md
  .changeset/smart-dodos-judge.md
  .changeset/thin-bats-act.md
  .vscode/settings.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/core/package.json
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/deployments.ts
  packages/core/src/actions/index.ts
  packages/core/src/analytics.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/constants.ts
  packages/core/src/deployed.ts
  packages/core/src/deployments/index.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/messages/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/demo/.env.example
  packages/demo/chugsplash/hello-chugsplash.ts
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/src/utils/compile.ts
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/index.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/src/executor.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
  packages/plugins/src/index.ts
  packages/plugins/src/messages.ts
  tsconfig.json
  yarn.lock
Labels: contracts, plugins, core, executor

#380 fix(ct): decrease owner bond amount
  packages/contracts/src/constants.ts
Labels: contracts

#382 fix(ct): make executors permissioned
  .changeset/old-badgers-whisper.md
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/ProxyInitializer.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/ChugSplashRegistry.t.sol
  packages/contracts/test/integration-tests.t.sol
  packages/core/src/actions/execute.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: contracts, plugins, core, executor

#383 fix(core): use `getNetwork` to retrieve network name
  .changeset/rich-elephants-exercise.md
  packages/core/src/actions/deployments.ts
  packages/core/src/execution/index.ts
  packages/core/src/messages/index.ts
  packages/core/src/tasks/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#384 fix(core): Ensure array.at() is always supported
  .changeset/mean-mirrors-chew.md
  packages/core/src/utils.ts
Labels: core

#385 fix(core): use `resolveNetworkName` everywhere
  .changeset/three-starfishes-attack.md
  packages/core/src/actions/deployments.ts
  packages/core/src/tasks/index.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#386 fix(core): check if proxy is deployed before transferring to chugsplash
  .changeset/fair-turtles-decide.md
  packages/core/src/tasks/index.ts
Labels: core

#387 fix(core): change EIP-1967 implementation getter to be compatible with OpenZeppelin contracts
  .changeset/silver-dryers-begin.md
  packages/core/src/deployed.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
Labels: core

#388 fix(core): add flag that allows users to skip the storage slot checker
  .changeset/orange-readers-appear.md
  packages/core/src/config/parse.ts
  packages/core/src/tasks/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#389 fix(core): display contract name instead of fully qualified name in deployment table
  .changeset/small-beans-invent.md
  packages/core/src/utils.ts
Labels: core

#390 fix(core): don't infer network name in error messages
  .changeset/afraid-eels-repair.md
  packages/core/src/actions/deployments.ts
  packages/core/src/execution/index.ts
  packages/core/src/messages/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
Labels: core

#392 fix(core): remove unnecessary TODO
  .changeset/big-cameras-rush.md
  packages/core/src/utils.ts
Labels: core

#394 fix(core): Add foundry specific messages
  .changeset/silent-ducks-press.md
  packages/core/src/messages/index.ts
  packages/core/src/tasks/index.ts
Labels: core

#395 fix(exec): Fix bug where executor always tries to execute locally
  .changeset/hungry-items-study.md
  packages/core/src/tasks/index.ts
  packages/executor/src/index.ts
Labels: core, executor

#399 Version Packages
  .changeset/afraid-eels-repair.md
  .changeset/afraid-tables-itch.md
  .changeset/big-cameras-rush.md
  .changeset/fair-turtles-decide.md
  .changeset/grumpy-pumas-count.md
  .changeset/hungry-items-study.md
  .changeset/large-dolls-smile.md
  .changeset/lucky-paws-suffer.md
  .changeset/mean-mirrors-chew.md
  .changeset/metal-crews-yell.md
  .changeset/old-badgers-whisper.md
  .changeset/orange-readers-appear.md
  .changeset/purple-actors-grin.md
  .changeset/rich-elephants-exercise.md
  .changeset/shaggy-goats-heal.md
  .changeset/silent-ducks-press.md
  .changeset/silver-dryers-begin.md
  .changeset/small-beans-invent.md
  .changeset/smart-dodos-judge.md
  .changeset/stupid-plums-dress.md
  .changeset/stupid-worms-greet.md
  .changeset/thin-bats-act.md
  .changeset/three-starfishes-attack.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#400 fix(core): Add timeout on analytics functions
  .changeset/slow-buckets-watch.md
  packages/core/src/analytics.ts
Labels: core

#405 fix(core): remove `initializeChugSplash` call in register and propose task
  .changeset/sour-comics-behave.md
  packages/core/src/tasks/index.ts
Labels: core

#407 Version Packages
  .changeset/sour-comics-behave.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Labels: core

#408 fix(exec): Fix issue verifying chugsplash contracts
  .changeset/bright-suns-smoke.md
  packages/contracts/src/constants.ts
  packages/executor/src/utils/etherscan.ts
Labels: contracts, executor

#409 Release
  .changeset/bright-suns-smoke.md
  packages/contracts/src/constants.ts
  packages/executor/src/utils/etherscan.ts
Labels: contracts, executor

#411 Version Packages
  .changeset/bright-suns-smoke.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
Labels: contracts, executor

#413 feat(pg): Add discord link output
  .changeset/kind-jobs-dress.md
  packages/core/src/tasks/index.ts
Labels: on-merge-train, core

#419 fix(core,ct,pg): change `target` to `referenceName` everywhere
  .changeset/hungry-grapes-own.md
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/parse.ts
  packages/core/src/fund.ts
  packages/core/src/tasks/index.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: contracts, plugins, core

#414 fix(core): minor tweak to config error string
  .changeset/angry-penguins-chew.md
  packages/core/src/languages/solidity/storage.ts
Labels: on-merge-train, core

#415 fix(core): 4 decimal ether formatting
  .changeset/fuzzy-trainers-bow.md
  packages/core/src/tasks/index.ts
Labels: on-merge-train, core

#416 fix(exec,plg): remove command line hack
  .changeset/giant-cheetahs-hammer.md
  .changeset/silly-trainers-invite.md
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/plugins/src/env.ts
  packages/plugins/src/executor.ts
  packages/plugins/src/index.ts
  yarn.lock
Labels: plugins, on-merge-train, executor

#417 fix(plg): improve hh artifact functions
  .changeset/thin-moose-rescue.md
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, on-merge-train

#418 fix(core): small rename of unclear function
  .changeset/lemon-roses-rhyme.md
  packages/core/src/deployments/index.ts
  packages/core/src/execution/index.ts
  packages/core/src/tasks/index.ts
Labels: on-merge-train, core

#423 fix(exec): Add default port for executor
  .changeset/chilled-ads-protect.md
  packages/executor/src/index.ts
Labels: executor

#431 fix(core): Add additional recommendation to clear contract artifact cache if var not found in storage layout
  .changeset/short-mangos-listen.md
  packages/core/src/languages/solidity/storage.ts
Labels: core

#432 fix(core): slightly change error message wording
  .changeset/many-fireants-hug.md
  packages/core/src/languages/solidity/storage.ts
Labels: core

#425 fix(core): allow user to explicitly define proxy type in ChugSplash file
  .changeset/warm-days-do.md
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: plugins, core

#434 fix(ct): improve transparent proxy test names
  .changeset/five-beds-itch.md
  packages/contracts/foundry.toml
  packages/contracts/test/ChugSplashManager.t.sol
Labels: contracts

#436 fix(ct): make address stable by removing dependency on the registry's bytecode
  .changeset/dirty-poems-march.md
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/interfaces/IChugSplashRegistry.sol
  packages/contracts/src/ifaces.ts
Labels: contracts
