Repository sphinx-labs/sphinx, pull requests merged in 2023-07, with the labels that each got.

#830 Add Relayers to Init Logic
  packages/contracts/contracts/ManagedService.sol
  packages/core/config/goerli.ts
  packages/core/config/op-goerli.ts
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/languages/solidity/types.ts
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/src/foundry/index.ts
Labels: contracts, plugins, core

#831 Fix LZ Sender Tests
  packages/contracts/test/Funder.t.sol
Labels: contracts

#832 Calculate Managed Service Address
  packages/core/src/addresses.ts
  packages/core/src/contract-info.ts
  packages/core/src/languages/solidity/predeploys.ts
Labels: core

#833 Fix Executor GQL Endpoint Names
  packages/executor/src/gql/index.ts
Labels: executor

#835 Website types
  packages/core/src/constants.ts
  packages/executor/src/gql/index.ts
Labels: core, executor

#837 maint(pg): remove tests for importing proxies
  packages/plugins/chugsplash/proxies/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/proxies/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/proxies/UUPSOwnableUpgradableUpgrade.config.ts
  packages/plugins/contracts/test/TransparentUpgradableV1.sol
  packages/plugins/contracts/test/TransparentUpgradableV2.sol
  packages/plugins/contracts/test/UUPSAccessControlUpgradableV1.sol
  packages/plugins/contracts/test/UUPSAccessControlUpgradableV2.sol
  packages/plugins/contracts/test/UUPSOwnableUpgradableV1.sol
  packages/plugins/contracts/test/UUPSOwnableUpgradableV2.sol
  packages/plugins/test/Transfer.spec.ts
Labels: plugins

#838 Finish Propose Task
  packages/core/src/actions/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/chugsplash/org/single-owner.config.ts
  packages/plugins/hardhat.config.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#840 maint(core): add gas estimates to the proposal request object
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/tasks/index.ts
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
Labels: contracts, plugins, core

#841 Fix Issues with Website Integration
  packages/contracts/contracts/ChugSplashAuth.sol
  packages/contracts/contracts/ChugSplashLZReceiver.sol
  packages/contracts/contracts/ChugSplashLZSender.sol
  packages/core/src/addresses.ts
  packages/core/src/contract-info.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/plugins/chugsplash/org/single-owner.config.ts
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/script/write-constants.ts
  packages/plugins/src/foundry/index.ts
  yarn.lock
Labels: contracts, plugins, core

#844 feat(core): Local multichain deployments
  packages/contracts/contracts/ChugSplashLZSender.sol
  packages/core/src/addresses.ts
  packages/core/src/contract-info.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/src/gql/index.ts
  packages/executor/src/index.ts
  packages/plugins/chugsplash/org/single-owner.config.ts
  packages/plugins/script/write-constants.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#845 fix(core): Fix bug initializing chugsplash on local nodes
  packages/core/src/contract-info.ts
Labels: core

#846 fix(core): Add default chain status for new networks in prev configs
  packages/core/src/actions/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
Labels: core

#847 fix(core): separate testnets and mainnets in the ChugSplash config
  .changeset/early-paws-rush.md
  packages/core/src/actions/types.ts
  packages/core/src/addresses.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/constants.ts
  packages/core/src/contract-info.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/hardhat.config.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/chugsplash/org/single-owner.config.ts
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  packages/plugins/contracts/foundry/ChugSplashTasks.sol
  packages/plugins/contracts/foundry/Propose.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/Org.spec.ts
Labels: plugins, core, executor

#848 fix(pg): Regenerate Constants
  packages/plugins/contracts/foundry/ChugSplashConstants.sol
  yarn.lock
Labels: plugins

#850 feat(core): Support arbitrum goerli
  packages/contracts/contracts/ChugSplashLZReceiver.sol
  packages/contracts/contracts/ChugSplashLZSender.sol
  packages/contracts/test/ChugSplashLZSender.t.sol
  packages/core/src/addresses.ts
  packages/core/src/constants.ts
  packages/core/src/contract-info.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
Labels: contracts, core

#851 fix: update repo urls
  CONTRIBUTING.md
  README.md
  docs/foundry/ci-integration.md
  docs/foundry/getting-started.md
  docs/hardhat/ci-integration.md
  docs/hardhat/getting-started.md
  docs/special-var-defs.md
  docs/sphinx-file.md
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins

#852 fix: Update name in .env.example files
  packages/core/package.json
  packages/executor/.env.example
  packages/plugins/.env.example
Labels: core

#854 fix(pg): Update plugins package network endpoints
  packages/contracts/package.json
  packages/core/package.json
  packages/plugins/hardhat.config.ts
  packages/plugins/sphinx/org/single-owner.config.ts
  yarn.lock
Labels: contracts, plugins, core

#855 fix(core): add support for new contracts in existing projects and new chains in org config
  .changeset/selfish-numbers-play.md
  packages/core/src/actions/bundle.ts
  packages/core/src/config/types.ts
  packages/core/src/constants.ts
  packages/core/src/networks.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/package.json
  packages/plugins/test/Org.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/helpers.ts
  packages/plugins/test/run-hh-tests.sh
Labels: plugins, core, executor

#856 fix(core): log warning to the user if a contract deployment is being skipped
  .changeset/wild-dingos-cry.md
  packages/core/src/config/parse.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/foundry/interfaces/ISphinxUtils.sol
  packages/plugins/src/foundry/get-bundle-info.ts
Labels: plugins, core

#842 fix(pg): update init tasks and add tests for TypeScript init tasks
  .changeset/kind-suns-cry.md
  .circleci/config.yml
  package.json
  packages/contracts/package.json
  packages/core/package.json
  packages/demo/contracts/HelloChugSplash.sol
  packages/demo/foundry.toml
  packages/demo/hardhat.config.ts
  packages/demo/package.json
  packages/demo/sphinx/hello-chugsplash.ts
  packages/demo/test/HelloChugSplash.spec.ts
  packages/demo/test/InitTask.spec.ts
  packages/plugins/script/Sphinx.s.sol
  packages/plugins/src/foundry/logs.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-config-files.ts
  packages/plugins/src/sample-project/sample-contract.ts
  packages/plugins/src/sample-project/sample-sphinx-files.ts
  packages/plugins/src/sample-project/sample-tests.ts
  packages/plugins/test/foundry/Sphinx.t.sol
  yarn.lock
Labels: contracts, plugins, core

#857 maint(pg): use propose task in org config tests
  packages/core/src/actions/bundle.ts
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/hardhat.config.ts
  packages/plugins/package.json
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/Org.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/helpers.ts
  packages/plugins/test/run-hh-tests.sh
Labels: plugins, core

#858 fix(core): Update location of address constants
  packages/core/src/addresses.ts
  packages/core/src/config/parse.ts
  packages/core/src/constants.ts
  packages/core/src/contract-info.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/sphinx/org/single-owner.config.ts
Labels: plugins, core

#860 maint(ct): remove layerzero dependency
  package.json
  packages/contracts/contracts/Import.sol
  packages/contracts/contracts/SphinxDataTypes.sol
  packages/contracts/contracts/SphinxLZReceiver.sol
  packages/contracts/contracts/SphinxLZSender.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  packages/contracts/test/SphinxLZSender.t.sol
  packages/core/src/addresses.ts
  packages/core/src/contract-info.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/script/write-constants.ts
  packages/plugins/src/foundry/index.ts
  yarn.lock
Labels: contracts, plugins, core

#861 fix(core): Complete integration of new config structure
  packages/contracts/contracts/SphinxFactory.sol
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/sphinx/Website.config.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/MultiChain.spec.ts
  yarn.lock
Labels: contracts, plugins, core

#862 feat(ct): add Balance contracts
  .changeset/thin-deers-nail.md
  packages/contracts/contracts/SphinxAuthFactory.sol
  packages/contracts/contracts/SphinxAuthProxy.sol
  packages/contracts/contracts/SphinxBalance.sol
  packages/contracts/contracts/SphinxBalanceFactory.sol
  packages/contracts/contracts/SphinxEscrow.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/SphinxBalance.t.sol
  packages/contracts/test/SphinxBalanceFactory.t.sol
  packages/contracts/test/SphinxEscrow.t.sol
  packages/core/src/addresses.ts
  packages/core/src/constants.ts
  packages/core/src/contract-info.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/script/write-constants.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/test/MultiChain.spec.ts
Labels: contracts, plugins, core, executor

#863 maint(ct): remove old executor payment logic
  packages/contracts/contracts/DefaultGasPriceCalculator.sol
  packages/contracts/contracts/ManagedService.sol
  packages/contracts/contracts/SphinxAuth.sol
  packages/contracts/contracts/SphinxManager.sol
  packages/contracts/contracts/SphinxManagerEvents.sol
  packages/contracts/contracts/interfaces/IGasPriceCalculator.sol
  packages/contracts/contracts/interfaces/ISphinxManager.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/addresses.ts
  packages/core/src/contract-info.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/execute.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/foundry/Sphinx.t.sol
Labels: contracts, plugins, core, executor

#867 fix(core): Add a reference AuthProxy to the initialization logic to verify on Etherscan
  .changeset/flat-planes-protect.md
  packages/core/src/addresses.ts
  packages/core/src/contract-info.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
Labels: plugins, core

#868 feat(exec): Track transaction receipts during execution
  packages/contracts/contracts/ManagedService.sol
  packages/contracts/contracts/SphinxBalance.sol
  packages/contracts/contracts/SphinxBalanceFactory.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/SphinxBalance.t.sol
  packages/contracts/test/SphinxBalanceFactory.t.sol
  packages/contracts/test/SphinxEscrow.t.sol
  packages/core/src/actions/execute.ts
  packages/core/src/addresses.ts
  packages/core/src/constants.ts
  packages/core/src/contract-info.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/executor/src/gql/index.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/script/write-constants.ts
  packages/plugins/sphinx/Website.config.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#870 ci: bump node to 18.x
  .github/workflows/canary.yml
  .github/workflows/release.yml
  ops/ci-builder/Dockerfile
Labels: ci

#869 fix(core): remove logic that relies on init code hash
  .changeset/witty-rivers-beg.md
  README.md
  docs/config-file.md
  docs/faq.md
  packages/contracts/contracts/SphinxRegistry.sol
  packages/contracts/contracts/interfaces/ISphinxRegistry.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/contract-info.ts
  packages/core/src/diff.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/demo/.gitignore
  packages/executor/hardhat.config.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/foundry/interfaces/ISphinxUtils.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/structs.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/helpers.ts
  packages/plugins/test/run-hh-tests.sh
Labels: contracts, plugins, core, executor

#871 fix(core): update diff to include local network info
  .changeset/sour-bulldogs-travel.md
  docs/cli-foundry-existing-project.md
  docs/cli-foundry-quick-start.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/config.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/diff.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/messages/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/demo/test/InitTask.spec.ts
  packages/executor/src/utils/execute.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/contracts/foundry/SphinxTasks.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/foundry/interfaces/ISphinxUtils.sol
  packages/plugins/contracts/foundry/lib/strings.sol
  packages/plugins/script/display-bundle-info.ts
  packages/plugins/src/cli/index.ts
  packages/plugins/src/cre.ts
  packages/plugins/src/foundry/artifacts.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/get-configs.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/structs.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
  packages/plugins/src/sample-project/sample-tests.ts
  packages/plugins/test/Create3.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core, executor

#872 fix(pg): compile before displaying the diff in the Foundry deploy task
  .changeset/shiny-actors-trade.md
  docs/cli-foundry-existing-project.md
  docs/cli-foundry-quick-start.md
  packages/core/src/config/config.ts
  packages/demo/test/InitTask.spec.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/type-extensions.ts
Labels: plugins, core

#873 fix(pg): update foundry propose task to include diff
  .changeset/orange-cars-juggle.md
  packages/plugins/contracts/foundry/Propose.sol
  packages/plugins/foundry.toml
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/display-user-config.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#874 chore(pg): add script for bridging funds between testnets
  package.json
  packages/plugins/package.json
  packages/plugins/remappings.txt
  packages/plugins/script/BridgeFunds.s.sol
  yarn.lock
Labels: plugins

#875 feat(ct): Support executors withdrawing from managed service contract
  packages/contracts/contracts/ManagedService.sol
  packages/core/config/local.ts
  packages/core/config/op-goerli.ts
  packages/core/config/standard.ts
  packages/core/hardhat.config.ts
  packages/core/src/constants.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/hardhat.config.ts
  packages/plugins/package.json
  packages/plugins/sphinx/Website.config.ts
  packages/plugins/test/kill-hh-nodes.sh
  packages/plugins/test/run-hh-tests.sh
  yarn.lock
Labels: contracts, plugins, core, executor

#894 Release
  README.md
  docs/cli-foundry-existing-project.md
  docs/cli-foundry-quick-start.md
  docs/cli-hardhat-js-getting-started.md
  docs/cli-hardhat-ts-getting-started.md
  packages/contracts/package.json
  packages/demo/foundry.toml
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-config-files.ts
  packages/plugins/src/sample-project/sample-contract.ts
Labels: contracts, plugins

#900 Version Packages
  .changeset/calm-news-remember.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins

#901 feat(core): output warning for unreliable networks
  .changeset/beige-schools-live.md
  packages/core/src/languages/solidity/predeploys.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/hardhat.config.ts
  packages/plugins/sphinx/Website.config.ts
  yarn.lock
Labels: plugins, core

#902 Release
  .changeset/beige-schools-live.md
  packages/core/src/languages/solidity/predeploys.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/hardhat.config.ts
  packages/plugins/sphinx/Website.config.ts
  yarn.lock
Labels: plugins, core
