Repository sphinx-labs/sphinx, pull requests merged in 2023-02, with the labels that each got.

#437 fix(core): fix proxy type validation bug
  .changeset/honest-walls-move.md
  packages/core/src/config/parse.ts
Labels: core

#438 fix(ct): bump chugsplash salt value
  .changeset/cyan-snails-play.md
  packages/contracts/src/constants.ts
Labels: contracts

#439 Release
  .changeset/cyan-snails-play.md
  .changeset/dirty-poems-march.md
  .changeset/five-beds-itch.md
  .changeset/honest-walls-move.md
  .changeset/many-fireants-hug.md
  .changeset/short-mangos-listen.md
  .changeset/warm-days-do.md
  README.md
  docs/foundry/getting-started.md
  docs/foundry/live-network.md
  docs/import-openzeppelin.md
  docs/live-network.md
  docs/storage-checker.md
  docs/variables.md
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/interfaces/IChugSplashRegistry.sol
  packages/contracts/foundry.toml
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/utils.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: contracts, plugins, core

#441 Version Packages
  .changeset/cyan-snails-play.md
  .changeset/dirty-poems-march.md
  .changeset/five-beds-itch.md
  .changeset/honest-walls-move.md
  .changeset/many-fireants-hug.md
  .changeset/short-mangos-listen.md
  .changeset/warm-days-do.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core

#442 fix(core): allow contract definition with no variables attribute
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
Labels: core

#460 fix(pg,demo): update demo package to reflect latest `getContract` function
  .changeset/early-fans-walk.md
  packages/demo/chugsplash/hello-chugsplash.ts
  packages/demo/test/HelloChugSplash.spec.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/type-extensions.ts
  packages/plugins/src/sample-project/sample-tests.ts
  packages/plugins/test/Storage.spec.ts
Labels: plugins

#462 Bump Versions
  .changeset/early-fans-walk.md
  packages/core/package.json
  packages/demo/chugsplash/hello-chugsplash.ts
  packages/demo/test/HelloChugSplash.spec.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/type-extensions.ts
  packages/plugins/src/sample-project/sample-tests.ts
  packages/plugins/test/Storage.spec.ts
Labels: plugins, core

#464 Bump Package Versions
  .changeset/early-fans-walk.md
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#468 Main
  .changeset/lucky-steaks-run.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Labels: core

#469 fix(core,ex): change minimum compiler input logic to fix bug that generated incomplete inputs
  .changeset/cuddly-balloons-carry.md
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/artifacts.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/types.ts
  packages/executor/src/utils/etherscan.ts
  yarn.lock
Labels: contracts, core, executor

#470 Release
  .changeset/cuddly-balloons-carry.md
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/artifacts.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/types.ts
  packages/executor/src/utils/etherscan.ts
  yarn.lock
Labels: contracts, core, executor

#473 fix(core): move the 'missing storage layout error' from `getStorageLayout` to `getBuildInfo`
  .changeset/orange-pants-double.md
  packages/core/src/actions/artifacts.ts
Labels: core

#475 fix(core,pg): fix bug caused by logic that gets the minimum compiler input for a bundle
  .changeset/fresh-days-add.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/deployments.ts
  packages/core/src/config/types.ts
  packages/core/src/execution/index.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/tasks/index.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#485 fix(ct): clarify uups updater docs
  packages/contracts/contracts/updaters/OZUUPSUpdater.sol
Labels: contracts

#484 ci: Enable Tests in CI
  packages/contracts/package.json
  packages/core/src/languages/solidity/compiler.ts
  packages/plugins/foundry.toml
  packages/plugins/package.json
  packages/plugins/remappings.txt
Labels: contracts, plugins, core

#482 maint(exec): remove port environment variable
  .changeset/clean-kangaroos-camp.md
  packages/executor/src/index.ts
Labels: executor

#490 Revert "ci: Enable Tests in CI"
  packages/contracts/package.json
  packages/core/src/languages/solidity/compiler.ts
  packages/plugins/foundry.toml
  packages/plugins/package.json
  packages/plugins/remappings.txt
Labels: contracts, plugins, core

#488 fix(ct,core): temporarily allow anyone to propose bundles
  .changeset/violet-baboons-lay.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/core/src/actions/deployments.ts
Labels: contracts, core

#487 fix(pg,core): update fund task to optionally calculate the amount of funds to send automatically
  .changeset/hungry-pants-look.md
  packages/core/src/tasks/index.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins, core

#492 fix(core,pg): remove hard-coded chain id 31337
  .changeset/ninety-drinks-wash.md
  packages/core/src/tasks/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core

#493 Revert "maint(exec): remove log level hack"
  .changeset/rich-cats-fry.md
  packages/core/src/types.ts
  packages/executor/src/index.ts
  packages/plugins/src/executor.ts
Labels: plugins, core, executor

#491 ci: Enable Tests in CI
  packages/contracts/package.json
  packages/core/src/languages/solidity/compiler.ts
  packages/executor/src/index.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/foundry.toml
  packages/plugins/package.json
  packages/plugins/remappings.txt
  packages/plugins/src/executor.ts
Labels: contracts, plugins, on-merge-train, core, executor

#494 fix(pg): Fix issue where ChugSplash not initialized when executing locally
  .changeset/popular-baboons-lay.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, on-merge-train

#495 fix(pg): fix bug where Hardhat chain ID wasn't being detected on localhost
  .changeset/stale-files-wonder.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#496 feat(core): set immutable variables in the ChugSplash file via the constructorArgs field
  .changeset/green-walls-drum.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/etherscan.ts
Labels: core, executor

#497 fix(pg): make OpenZeppelin proxy addresses consistent in tests
  .changeset/rich-gorillas-kiss.md
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSUpgradableUpgrade.config.ts
  packages/plugins/package.json
  packages/plugins/test/Transfer.spec.ts
Labels: plugins

#498 fix(ct,ex): add logic for claiming bundles
  .changeset/rare-pots-work.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/core/src/fund.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
Labels: contracts, core, executor

#500 fix(pg): add internal task for displaying bundles
  .changeset/old-ads-care.md
  packages/plugins/package.json
  packages/plugins/src/index.ts
  packages/plugins/src/internal-tasks.ts
Labels: plugins

#504 Version Packages
  .changeset/clean-kangaroos-camp.md
  .changeset/green-walls-drum.md
  .changeset/hungry-pants-look.md
  .changeset/ninety-drinks-wash.md
  .changeset/old-ads-care.md
  .changeset/popular-baboons-lay.md
  .changeset/rare-pots-work.md
  .changeset/rich-gorillas-kiss.md
  .changeset/short-coins-crash.md
  .changeset/stale-files-wonder.md
  .changeset/violet-baboons-lay.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#505 fix(ct): bump contract version
  .changeset/red-feet-eat.md
  packages/contracts/src/constants.ts
Labels: contracts

#506 fix(pg): create script for displaying bundles
  .changeset/mean-tips-beg.md
  packages/plugins/package.json
  packages/plugins/src/index.ts
  packages/plugins/src/internal-tasks.ts
  packages/plugins/src/scripts/display-bundle.ts
Labels: plugins

#507 Release
  .changeset/mean-tips-beg.md
  .changeset/red-feet-eat.md
  packages/contracts/src/constants.ts
  packages/plugins/package.json
  packages/plugins/src/index.ts
  packages/plugins/src/internal-tasks.ts
  packages/plugins/src/scripts/display-bundle.ts
Labels: contracts, plugins

#509 Version Packages
  .changeset/mean-tips-beg.md
  .changeset/red-feet-eat.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#510 fix(ct,pg): use json bundle in contract unit tests
  .changeset/chilled-donuts-juggle.md
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/ChugSplashRegistry.t.sol
  packages/contracts/test/MockChugSplashManager.sol
  packages/contracts/test/MockChugSplashRegistry.sol
  packages/contracts/test/bundle-info.json
  packages/contracts/test/integration-tests.t.sol
  packages/plugins/package.json
  packages/plugins/src/scripts/display-bundle-info.ts
Labels: contracts, plugins

#511 fix(ct): change storage slot setter to modify only a segment of the storage slot
  .changeset/gorgeous-beers-kneel.md
  .changeset/wet-owls-play.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSAdapter.sol
  packages/contracts/contracts/interfaces/IProxyAdapter.sol
  packages/contracts/contracts/interfaces/IProxyUpdater.sol
  packages/contracts/contracts/updaters/DefaultUpdater.sol
  packages/contracts/contracts/updaters/OZUUPSUpdater.sol
  packages/contracts/contracts/updaters/ProxyUpdater.sol
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/bundle-info.json
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/languages/solidity/types.ts
Labels: contracts, core

#512 fix(core): fix circular dependencies
  .changeset/small-news-smash.md
  packages/core/package.json
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/deployments.ts
  packages/core/src/actions/index.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/deployed.ts
  packages/core/src/deployments/index.ts
  packages/core/src/execution/index.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
Labels: core

#513 fix(core): add the 'preserve' keyword that allows variables to be maintained across upgrades
  .changeset/poor-bears-behave.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/config/parse.ts
  packages/core/src/constants.ts
  packages/core/src/deployed.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
Labels: core

#515 fix(core,pg): refactor functions that get build info and storage layout
  .changeset/silly-jars-think.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/hardhat/artifacts.ts
Labels: plugins, core

#516 fix(core,pg): allow user to specify a previous storage layout in their ChugSplash file
  .changeset/big-rice-invite.md
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/deployed.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
Labels: core

#514 feat(exec): Update deployment status from executor
  .changeset/selfish-schools-battle.md
  packages/core/src/types.ts
  packages/executor/.env.example
  packages/executor/package.json
  packages/executor/src/gql/index.ts
  packages/executor/src/index.ts
  packages/plugins/src/executor.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, core, executor

#518 fix(ct): bump salt
  packages/contracts/src/constants.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/executor/.env.example
Labels: contracts

#519 Release
  .changeset/big-rice-invite.md
  .changeset/chilled-donuts-juggle.md
  .changeset/gorgeous-beers-kneel.md
  .changeset/poor-bears-behave.md
  .changeset/selfish-schools-battle.md
  .changeset/silly-jars-think.md
  .changeset/small-news-smash.md
  .changeset/wet-owls-play.md
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSAdapter.sol
  packages/contracts/contracts/interfaces/IProxyAdapter.sol
  packages/contracts/contracts/interfaces/IProxyUpdater.sol
  packages/contracts/contracts/updaters/DefaultUpdater.sol
  packages/contracts/contracts/updaters/OZUUPSUpdater.sol
  packages/contracts/contracts/updaters/ProxyUpdater.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/ChugSplashRegistry.t.sol
  packages/contracts/test/MockChugSplashManager.sol
  packages/contracts/test/MockChugSplashRegistry.sol
  packages/contracts/test/bundle-info.json
  packages/contracts/test/integration-tests.t.sol
  packages/core/package.json
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/deployments.ts
  packages/core/src/actions/index.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/constants.ts
  packages/core/src/deployed.ts
  packages/core/src/deployments/index.ts
  packages/core/src/execution/index.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/executor/.env.example
  packages/executor/package.json
  packages/executor/src/gql/index.ts
  packages/executor/src/index.ts
  packages/plugins/package.json
  packages/plugins/src/executor.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/display-bundle-info.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#521 Version Packages
  .changeset/big-rice-invite.md
  .changeset/chilled-donuts-juggle.md
  .changeset/gorgeous-beers-kneel.md
  .changeset/poor-bears-behave.md
  .changeset/selfish-schools-battle.md
  .changeset/silly-jars-think.md
  .changeset/small-news-smash.md
  .changeset/wet-owls-play.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#524 feat(exec): add exponential backoff retry policy
  .changeset/forty-ants-shake.md
  packages/core/src/config/fetch.ts
  packages/core/src/deployed.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/demo/.gitignore
  packages/executor/src/index.ts
  packages/executor/src/utils/etherscan.ts
Labels: core, executor

#528 fix(ct): temporarily remove contract unit tests
  .changeset/short-candles-travel.md
  packages/contracts/test/ChugSplashManager.t.sol
  packages/contracts/test/ChugSplashRegistry.t.sol
  packages/core/src/utils.ts
Labels: contracts, core

#526 fix: change implementation salt and skip deploying impl if already deployed
  .changeset/modern-rabbits-wink.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/fetch.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSUpgradableUpgrade.config.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/tasks.ts
Labels: contracts, plugins, core, executor

#527 feat(exec): Implement Parallel Execution
  .changeset/silly-cats-float.md
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/types.ts
  packages/executor/.env.example
  packages/executor/src/index.ts
  packages/executor/src/utils/child.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/src/executor.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#529 feat: add meta upgradeability to registry
  .changeset/bright-moose-know.md
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRecorder.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/ChugSplashRegistryProxy.sol
  packages/contracts/contracts/ProxyInitializer.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSAdapter.sol
  packages/contracts/contracts/adapters/RegistryAdapter.sol
  packages/contracts/contracts/interfaces/IChugSplashRegistry.sol
  packages/contracts/contracts/interfaces/IProxyAdapter.sol
  packages/contracts/contracts/updaters/OZUUPSUpdater.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/contracts/test/integration-tests.t.sol
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/constants.ts
  packages/core/src/deployed.ts
  packages/core/src/execution/index.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/chugsplash/hardhat/MetaUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/SimpleProject.config.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSUpgradableUpgrade.config.ts
  packages/plugins/contracts/Imports.sol
  packages/plugins/hardhat.config.ts
  packages/plugins/test/MetaUpgrade.spec.ts
  packages/plugins/test/MetaUpgrades.spec.ts
  packages/plugins/test/Storage.spec.ts
Labels: contracts, plugins, core, executor

#533 fix(core): remove filesystem calls that were used during debugging
  .changeset/blue-rocks-mate.md
  packages/core/src/actions/bundle.ts
  packages/core/src/utils.ts
Labels: core

#534 Bump Salt
  packages/contracts/src/constants.ts
Labels: contracts

#537 Version Packages
  .changeset/blue-rocks-mate.md
  .changeset/bright-moose-know.md
  .changeset/forty-ants-shake.md
  .changeset/modern-rabbits-wink.md
  .changeset/short-candles-travel.md
  .changeset/silly-cats-float.md
  .changeset/slow-scissors-hang.md
  README.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor
