Repository sphinx-labs/sphinx, pull requests merged in 2023-04, with the labels that each got.

#573 feat(core): Display all parsing validation errors
  packages/core/src/config/parse.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/utils.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/Validation.spec.ts
Labels: contracts, plugins, core

#582 fix(ct): allow bundles to be proposed after being completed or cancelled
  .changeset/polite-peas-crash.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/src/tasks/index.ts
Labels: contracts, core

#580 feat(core): Support deploying stateless non-proxied contracts
  .changeset/two-cheetahs-move.md
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRecorder.sol
  packages/contracts/src/constants.ts
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/chugsplash/foundry/addProposer.t.js
  packages/plugins/chugsplash/foundry/cancel.t.js
  packages/plugins/chugsplash/foundry/claim.t.js
  packages/plugins/chugsplash/foundry/config.t.js
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/chugsplash/foundry/registerProposeFundApprove.t.js
  packages/plugins/chugsplash/foundry/transfer.t.js
  packages/plugins/chugsplash/foundry/withdraw.t.js
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
  packages/plugins/contracts/SimpleStorage.sol
  packages/plugins/contracts/Stateless.sol
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  specs/chugsplash-manager.md
Labels: contracts, plugins, core, executor

#583 feat(ct): make chugsplash non-upgradeable
  .changeset/nine-games-add.md
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRecorder.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/ChugSplashRegistryProxy.sol
  packages/contracts/contracts/ProxyInitializer.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/config/parse.ts
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/demo/hardhat.config.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/hardhat.config.ts
  packages/plugins/package.json
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/Transfer.spec.ts
Labels: contracts, plugins, core, executor

#584 feat(core): add organization ID
  .changeset/fast-mugs-develop.md
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/interfaces/IChugSplashRegistry.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/analytics.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/demo/chugsplash/hello-chugsplash.ts
  packages/demo/contracts/HelloChugSplash.sol
  packages/demo/package.json
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/chugsplash/ConstructorArgValidation.config.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/chugsplash/foundry/addProposer.t.js
  packages/plugins/chugsplash/foundry/cancel.t.js
  packages/plugins/chugsplash/foundry/claim.t.js
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/chugsplash/foundry/registerProposeFundApprove.t.js
  packages/plugins/chugsplash/foundry/transfer.t.js
  packages/plugins/chugsplash/foundry/withdraw.t.js
  packages/plugins/chugsplash/hardhat/SimpleProject.config.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
  packages/plugins/src/sample-project/sample-chugsplash-files.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  yarn.lock
Labels: contracts, plugins, core, executor

#585 fix(core): write separate artifacts for proxy and implementation contracts
  .changeset/heavy-bears-hug.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/execution/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
Labels: core

#581 fix(ct): Fix security vulnerability on setStorage function
  packages/contracts/contracts/updaters/DefaultUpdater.sol
  packages/contracts/contracts/updaters/OZUUPSUpdater.sol
  packages/contracts/contracts/updaters/ProxyUpdater.sol
Labels: contracts, plugins, core, executor

#587 fix(core): restrict solidity versions to >0.5.x
  .changeset/slimy-mugs-search.md
  packages/core/src/utils.ts
Labels: core

#588 fix: replace TODOs with linear tickets
  .changeset/thin-cats-bathe.md
  packages/contracts/contracts/PermissionedCaller.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/messages/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/constants.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/src/hardhat/deployments.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#589 fix(core): Fix initializeChugSplash failure on network where contracts are already deployed
  packages/core/src/languages/solidity/predeploys.ts
Labels: core

#591 fix(pg): fix minor bugs when importing OpenZeppelin storage layout
  .changeset/lucky-beans-wait.md
  packages/plugins/src/hardhat/artifacts.ts
Labels: plugins

#593 fix(core): remove unnecessary `getMinimumSourceNames` function
  .changeset/blue-cobras-decide.md
  packages/core/src/languages/solidity/compiler.ts
Labels: core

#594 feat(ct): add helper function on ChugSplashManager to execute entire bundle in one transaction
  .changeset/perfect-numbers-switch.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#595 fix(ct): remove unnecessary receive and fallback functions in updater contracts
  .changeset/orange-kids-clean.md
  packages/contracts/contracts/interfaces/IProxyUpdater.sol
  packages/contracts/contracts/updaters/DefaultUpdater.sol
  packages/contracts/contracts/updaters/OZUUPSUpdater.sol
Labels: contracts

#597 fix(pg): display ChugSplash errors and warnings by default when running Hardhat tests
  .changeset/fluffy-jokes-teach.md
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#598 fix(core): fix a couple bugs when deploying no-proxy contracts
  .changeset/wet-lobsters-accept.md
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/storage.ts
Labels: core

#590 feat(core): make chugsplash-deploy task execute locally
  .changeset/unlucky-balloons-explode.md
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/package.json
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/constants.ts
  packages/core/src/etherscan.ts
  packages/core/src/execution/index.ts
  packages/core/src/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/demo/package.json
  packages/executor/src/index.ts
  packages/executor/src/utils/constants.ts
  packages/executor/src/utils/execute.ts
  packages/executor/src/utils/index.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/executor.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
  packages/plugins/test/Transfer.spec.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#592 feat(ct,core): add claimer field to config
  .changeset/tiny-avocados-argue.md
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/interfaces/IChugSplashRegistry.sol
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/analytics.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/etherscan.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/messages/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/demo/chugsplash/hello-chugsplash.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/chugsplash/ConstructorArgValidation.config.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/chugsplash/foundry/addProposer.t.js
  packages/plugins/chugsplash/foundry/cancel.t.js
  packages/plugins/chugsplash/foundry/claim.t.js
  packages/plugins/chugsplash/foundry/claimProposeFundApprove.t.js
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/chugsplash/foundry/transfer.t.js
  packages/plugins/chugsplash/foundry/withdraw.t.js
  packages/plugins/chugsplash/hardhat/SimpleProject.config.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/sample-project/sample-chugsplash-files.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: contracts, plugins, core, executor

#596 fix(pg,core): separate local canonical config files by network
  .changeset/honest-pans-hang.md
  packages/core/src/config/parse.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/display-bundle-info.ts
  packages/plugins/src/utils.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/Validation.spec.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#600 fix(core): fix bug parsing proxied config variables
  .changeset/mean-houses-sort.md
  packages/core/src/config/parse.ts
  packages/demo/chugsplash/hello-chugsplash.ts
Labels: core

#601 fix(core,pg): change proxy ownership transfer tasks to remove ambiguity
  .changeset/witty-tomatoes-beg.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/src/analytics.ts
  packages/core/src/config/parse.ts
  packages/core/src/tasks/index.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  yarn.lock
Labels: contracts, plugins, core

#603 Spec: Add Constructor Arg Specification
  packages/plugins/test/ManagerUpgrade.spec.ts
  specs/chugsplash-config.md
Labels: plugins

#606 maint(pg): Remove unlimited contract size logic
  packages/demo/hardhat.config.ts
  packages/plugins/hardhat.config.ts
  packages/plugins/package.json
Labels: plugins

#608 maint(ct): Add Slither and solhint prettier plugin to contracts package
  packages/contracts/.solhint.json
  packages/contracts/.solhintignore
  packages/contracts/package.json
  packages/contracts/scripts/slither.sh
  packages/contracts/slither.config.json
  yarn.lock
Labels: contracts

#604 feat(core): Add parsing and validation logic on constructor arguments
  .changeset/kind-cherries-cross.md
  packages/core/src/config/parse.ts
  packages/plugins/chugsplash/ConstructorArgValidation.config.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/contracts/ConstructorArgsValidation.sol
  packages/plugins/contracts/ConstructorArgsValidationPartOne.sol
  packages/plugins/contracts/ConstructorArgsValidationPartTwo.sol
  packages/plugins/contracts/Storage.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core

#607 maint(core): Import libraries from dependencies
  package.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSBaseAdapter.sol
  packages/contracts/contracts/libraries/Create2.sol
  packages/contracts/contracts/libraries/MerkleTree.sol
  packages/contracts/contracts/libraries/Proxy.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/artifacts.ts
  packages/demo/package.json
  packages/plugins/contracts/Imports.sol
  packages/plugins/package.json
  yarn.lock
Labels: contracts, plugins, core

#609 maint(ct): Add Semver to ChugSplashManager
  .changeset/curly-cycles-collect.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/plugins/test/ManagerUpgrade.spec.ts
Labels: contracts, plugins, core, executor

#599 fix(ct): remove Optimism-specific logic for tx.gasprice in ChugSplashManager
  .changeset/swift-games-beg.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#605 feat(core): Contract references in constructor arguments
  .changeset/tidy-snails-thank.md
  packages/core/src/config/parse.ts
  packages/core/src/utils.ts
  packages/plugins/chugsplash/NoProxyContractReference.config.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/chugsplash/foundry/addProposer.t.js
  packages/plugins/chugsplash/foundry/cancel.t.js
  packages/plugins/chugsplash/foundry/claim.t.js
  packages/plugins/chugsplash/foundry/claimProposeFundApprove.t.js
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/chugsplash/foundry/transfer.t.js
  packages/plugins/chugsplash/foundry/withdraw.t.js
  packages/plugins/contracts/SimpleStorage.sol
  packages/plugins/contracts/Stateless.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/Validation.spec.ts
Labels: plugins, core

#610 fix(core,pg): only remotely execute when proposing on a live network
  .changeset/fair-lions-develop.md
  packages/core/src/config/parse.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
  packages/plugins/src/utils.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins, core

#611 maint(ct): move managed service functions out of registry
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/ManagedService.sol
  packages/contracts/src/ifaces.ts
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: contracts, plugins, core, executor

#613 fix(core): Detect local networks with hardhat_impersonateAccount
  packages/core/src/utils.ts
Labels: core

#612 maint(ct): add `isDataHexString` helper function
  .changeset/ninety-eels-sip.md
  packages/core/src/config/parse.ts
  packages/core/src/utils.ts
Labels: core

#614 maint(ct): check the manager's semver version in the registry's function
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/Semver.sol
  packages/contracts/contracts/interfaces/IChugSplashManager.sol
  packages/contracts/package.json
  packages/core/src/languages/solidity/predeploys.ts
  packages/plugins/contracts/Stateless.sol
  packages/plugins/test/ManagerUpgrade.spec.ts
Labels: contracts, plugins, core

#615 maint(docs): update discord invite link
  README.md
  docs/how-chugsplash-works.md
  docs/import-openzeppelin.md
  packages/core/src/tasks/index.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
Labels: plugins, core

#616 maint(core): confirm upgrade after checking for validation errors
  packages/core/src/config/parse.ts
  packages/demo/chugsplash/hello-chugsplash.ts
Labels: core

#617 maint(ct): remove non-proxied contracts from target bundles
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/src/actions/bundle.ts
  packages/demo/chugsplash/hello-chugsplash.ts
Labels: contracts, core

#618 fix(ct): move `adapter.initiateExecution` into the proper ChugSplashManager function
  .changeset/heavy-parrots-swim.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#619 maint(ct): use default proxy address from the `target` object
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#620 fix(ct): check that the bundle has been initiated in the `executeActions` function
  .changeset/tame-timers-admire.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#621 fix(ct): add reentrancy guards to the bundle initiation and completion functions
  .changeset/healthy-dodos-help.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#622 maint(ct): use Version struct in ChugSplash contracts
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/core/src/constants.ts
  packages/core/src/utils.ts
Labels: contracts, core

#623 maint(ct): update contract interfaces
  package.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/interfaces/IChugSplashManager.sol
  packages/contracts/contracts/interfaces/IChugSplashRegistry.sol
  packages/core/src/utils.ts
  packages/plugins/package.json
  packages/plugins/remappings.txt
  packages/plugins/test/foundry/ChugSplash.t.sol
  yarn.lock
Labels: contracts, plugins, core

#624 fix(ct): skip deploying a contract if it already exists
  .changeset/ninety-kids-switch.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/updaters/ProxyUpdater.sol
Labels: contracts

#625 maint(ct): move gas price calculation into modular contract
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/DefaultGasPriceCalculator.sol
  packages/contracts/contracts/interfaces/IGasPriceCalculator.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: contracts, plugins, core

#629 fix(ct): improve gas estimation on-chain
  .changeset/tricky-cameras-know.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#630 maint(ct): resolve linter warnings
  .prettierrc.js
  packages/contracts/.solhint.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/ManagedService.sol
  packages/contracts/contracts/interfaces/IChugSplashManager.sol
  packages/contracts/contracts/updaters/DefaultUpdater.sol
  packages/contracts/contracts/updaters/OZUUPSUpdater.sol
Labels: contracts

#632 fix(ct): resolve slither warnings
  .changeset/swift-peaches-eat.md
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/DefaultGasPriceCalculator.sol
  packages/contracts/contracts/ManagedService.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSAccessControlAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSBaseAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSOwnableAdapter.sol
  packages/contracts/contracts/interfaces/IChugSplashManager.sol
  packages/contracts/contracts/interfaces/IGasPriceCalculator.sol
  packages/contracts/contracts/interfaces/IProxyAdapter.sol
  packages/contracts/contracts/interfaces/IProxyUpdater.sol
  packages/contracts/contracts/updaters/DefaultUpdater.sol
  packages/contracts/contracts/updaters/OZUUPSUpdater.sol
  packages/contracts/contracts/updaters/ProxyUpdater.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/slither.config.json
  packages/contracts/slither.db.json
  packages/contracts/test/MockChugSplashManager.sol
  packages/contracts/test/MockChugSplashRegistry.sol
Labels: contracts, plugins

#628 feat(pg): Only initialize ChugSplash on local networks
  .changeset/empty-weeks-float.md
  packages/core/src/languages/solidity/predeploys.ts
  packages/executor/src/index.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins, core, executor

#633 fix(ct): allow executor to specify amount of debt to withdraw
  .changeset/nasty-clouds-wonder.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/src/utils.ts
Labels: contracts, core

#626 feat(core): Allow function types in contracts
  .changeset/cool-donkeys-pull.md
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/iterator.ts
  packages/core/src/languages/solidity/storage.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/contracts/Storage.sol
  packages/plugins/contracts/VariableValidation.sol
  packages/plugins/test/Validation.spec.ts
Labels: plugins, core

#634 fix(ct): use general create2 contract
  .changeset/soft-lies-pay.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/DefaultCreate2.sol
  packages/contracts/contracts/interfaces/ICreate2.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: contracts, plugins, core

#635 refactor(ct,core): clean up contracts, merkle tree generation, and execution logic
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/execute.ts
Labels: contracts, core

#637 fix(core): ensure storageLayout object is never undefined
  .changeset/perfect-pandas-add.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/types.ts
Labels: core

#638 maint(core): remove unnecessary encoding inplace bytes error
  packages/core/src/languages/solidity/storage.ts
Labels: on-merge-train, core

#636 maint(exec): Add automated testing of remote executor
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/.gitignore
  packages/executor/chugsplash/ExecutorTest.config.ts
  packages/executor/contracts/ExecutorTest.sol
  packages/executor/hardhat.config.ts
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/test/Executor.test.ts
  packages/plugins/package.json
  packages/plugins/src/utils.ts
  yarn.lock
Labels: plugins, core, executor

#639 maint(core): Remove extra CLI tasks
  .changeset/yellow-wombats-hope.md
  docs/foundry/api-docs.md
  packages/core/src/analytics.ts
  packages/core/src/execution/index.ts
  packages/core/src/messages/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/test/Executor.test.ts
  packages/plugins/chugsplash/foundry/addProposer.t.js
  packages/plugins/chugsplash/foundry/cancel.t.js
  packages/plugins/chugsplash/foundry/claimProposeFundApprove.t.js
  packages/plugins/chugsplash/foundry/withdraw.t.js
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins, core, executor

#640 fix(core): Improve gas estimation logic
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/etherscan.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/execute.ts
Labels: core, executor

#641 refactor(core): clean up code pre-audit
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/iterator.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
Labels: plugins, core

#644 fix(ct): assert contracts are below the contract size limit
  .changeset/hot-lies-walk.md
  packages/core/src/config/parse.ts
  packages/core/src/constants.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/utils.ts
Labels: core

#643 feat(core): Standalone deployment script and configurable system owner
  .changeset/strange-hotels-draw.md
  packages/contracts/src/constants.ts
  packages/core/.gitignore
  packages/core/hardhat.config.ts
  packages/core/package.json
  packages/core/scripts/deploy.ts
  packages/core/src/addresses.ts
  packages/core/src/constants.ts
  packages/core/src/etherscan.ts
  packages/core/src/index.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/plugins/src/foundry/index.ts
Labels: contracts, plugins, core, executor

#646 maint(core): change parsed config proxy field to address
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/etherscan.ts
  packages/core/src/fund.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/test/Transfer.spec.ts
Labels: contracts, plugins, core, executor

#647 fix(core): assert valid bundle size
  .changeset/sharp-rats-protect.md
  packages/core/src/config/parse.ts
  packages/core/src/fund.ts
Labels: contracts, plugins, core, executor

#645 maint(core): Update system Etherscan verification logic
  packages/core/hardhat.config.ts
  packages/core/scripts/deploy.ts
  packages/core/src/addresses.ts
  packages/core/src/etherscan.ts
  packages/executor/src/index.ts
Labels: core, executor

#648 fix(core): assert that the block gas limit is at least 15 million
  .changeset/big-brooms-build.md
  packages/core/src/languages/solidity/predeploys.ts
Labels: core

#649 fix(core): assert block gas limit is sufficiently high in parsing logic
  .changeset/khaki-bees-leave.md
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
Labels: core
