Repository sphinx-labs/sphinx, pull requests merged in 2023-08, with the labels that each got.

#904 fix(pg): parse env vars in rpc endpoints in foundry.toml
  .changeset/young-vans-wait.md
  packages/plugins/src/foundry/options.ts
Labels: plugins

#905 Release
  .changeset/young-vans-wait.md
  packages/plugins/src/foundry/options.ts
Labels: plugins

#907 fix(pg): improve logs of proposal CLI tasks
  .changeset/mean-lizards-scream.md
  README.md
  docs/cli-foundry-existing-project.md
  docs/cli-foundry-quickstart.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  packages/contracts/README.md
  packages/core/README.md
  packages/core/src/config/utils.ts
  packages/core/src/tasks/index.ts
  packages/demo/README.md
  packages/executor/README.md
  packages/plugins/README.md
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxTasks.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-config-files.ts
  packages/plugins/src/sample-project/sample-contract.ts
Labels: contracts, plugins, core, executor

#908 Release
  .changeset/mean-lizards-scream.md
  README.md
  docs/cli-foundry-existing-project.md
  docs/cli-foundry-quickstart.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  packages/contracts/README.md
  packages/core/README.md
  packages/core/src/config/utils.ts
  packages/core/src/tasks/index.ts
  packages/demo/README.md
  packages/executor/README.md
  packages/plugins/README.md
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxTasks.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-config-files.ts
  packages/plugins/src/sample-project/sample-contract.ts
Labels: contracts, plugins, core, executor

#913 fix(pg): remove dependency on inherited forge-std contracts in `Sphinx.sol`
  .changeset/thin-owls-behave.md
  docs/cli-foundry-existing-project.md
  packages/contracts/package.json
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/demo/foundry.toml
  packages/demo/package.json
  packages/plugins/contracts/foundry/Deploy.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxTasks.sol
  packages/plugins/package.json
  packages/plugins/script/Sphinx.s.sol
  packages/plugins/src/foundry/options.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/sample-project/sample-contract.ts
  packages/plugins/test/foundry/Sphinx.t.sol
  yarn.lock
Labels: contracts, plugins, core

#914 Release
  .changeset/breezy-chefs-burn.md
  .changeset/thin-owls-behave.md
  README.md
  docs/cli-foundry-existing-project.md
  docs/cli-foundry-quickstart.md
  package.json
  packages/contracts/package.json
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/demo/foundry.toml
  packages/demo/package.json
  packages/demo/script/Deploy.sol
  packages/demo/test/InitTask.spec.ts
  packages/executor/src/index.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/contracts/foundry/Deploy.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxTasks.sol
  packages/plugins/foundry.toml
  packages/plugins/hardhat.config.ts
  packages/plugins/package.json
  packages/plugins/script/Sphinx.s.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/options.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/sample-project/sample-contract.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/foundry/Sphinx.t.sol
  packages/plugins/test/run-hh-tests.sh
  yarn.lock
Labels: contracts, plugins, core, executor

#917 fix(pg): fix nohoist bug
  .changeset/few-squids-tickle.md
  package.json
  packages/core/src/etherscan.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  yarn.lock
Labels: plugins, core

#918 Release
  .changeset/few-squids-tickle.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  package.json
  packages/core/src/etherscan.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  yarn.lock
Labels: plugins, core

#920 Version Packages
  .changeset/breezy-chefs-burn.md
  .changeset/few-squids-tickle.md
  .changeset/thin-owls-behave.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#921 docs(ct): update docs for create3 contract interface
  packages/contracts/contracts/DefaultCreate3.sol
  packages/contracts/contracts/SphinxManager.sol
  packages/contracts/contracts/interfaces/ICreate3.sol
Labels: contracts

#922 feat(pg): Support mainnets
  .changeset/strange-experts-raise.md
  packages/core/hardhat.config.ts
  packages/core/src/etherscan.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/hardhat.config.ts
  packages/plugins/sphinx/Website.config.ts
Labels: plugins, core

#923 fix(core): Resolve bug sending transactions on polygon mainnet
  .changeset/hip-queens-brush.md
  packages/core/src/utils.ts
Labels: core

#926 Version Packages
  .changeset/hip-queens-brush.md
  .changeset/strange-experts-raise.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Labels: core

#927 fix(pg): Handle unexpected response
  .changeset/dirty-balloons-sniff.md
  packages/core/src/utils.ts
Labels: core

#930 Version Packages
  .changeset/dirty-balloons-sniff.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins, core

#933 feat(pg): Add dry run and confirm flags to the propose task
  .changeset/beige-rabbits-kick.md
  docs/ci-foundry-proposals.md
  docs/ci-hardhat-proposals.md
  docs/config-file.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  packages/core/src/tasks/index.ts
  packages/plugins/foundry.toml
  packages/plugins/hardhat.config.ts
  packages/plugins/package.json
  packages/plugins/src/cli/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/helpers.ts
  packages/plugins/test/kill-hh-nodes.sh
  packages/plugins/test/run-hh-tests.sh
  yarn.lock
Labels: plugins, core

#935 Release
  .changeset/beige-rabbits-kick.md
  .github/cla/entity.md
  .github/cla/fiduciary.md
  README.md
  docs/ci-foundry-proposals.md
  docs/ci-hardhat-proposals.md
  docs/config-file.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  packages/core/src/tasks/index.ts
  packages/plugins/foundry.toml
  packages/plugins/hardhat.config.ts
  packages/plugins/package.json
  packages/plugins/src/cli/index.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/helpers.ts
  packages/plugins/test/kill-hh-nodes.sh
  packages/plugins/test/run-hh-tests.sh
  yarn.lock
Labels: plugins, core, ci

#938 docs: test cla
  .github/cla/entity.md
  .github/cla/fiduciary.md
Labels: ci

#939 fix(core): fix proposal failure when nothing has changed
  .changeset/slimy-buttons-love.md
  docs/ci-foundry-proposals.md
  docs/ci-hardhat-proposals.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  packages/core/src/tasks/index.ts
Labels: core

#940 Release
  .changeset/slimy-buttons-love.md
  .github/cla/entity.md
  .github/cla/fiduciary.md
  docs/ci-foundry-proposals.md
  docs/ci-hardhat-proposals.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  packages/core/src/tasks/index.ts
Labels: core, ci

#943 fix(core): Output more accurate log when dry running
  .changeset/witty-snakes-trade.md
  README.md
  docs/ci-foundry-proposals.md
  docs/ci-hardhat-proposals.md
  packages/core/src/tasks/index.ts
Labels: core

#948 feat(exec): Do not recompile during execution
  .changeset/thick-dolphins-join.md
  packages/core/src/actions/bundle.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/execute.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/helpers.ts
  packages/plugins/test/run-hh-tests.sh
Labels: plugins, core, executor

#949 Release
  .changeset/thick-dolphins-join.md
  packages/core/src/actions/bundle.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/execute.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/helpers.ts
  packages/plugins/test/run-hh-tests.sh
Labels: plugins, core, executor

#951 Version Packages
  .changeset/thick-dolphins-join.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins, core, executor

#952 Revert "feat(exec): Do not recompile during execution"
  .changeset/tall-buckets-pull.md
  packages/core/src/actions/bundle.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/execute.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/helpers.ts
  packages/plugins/test/run-hh-tests.sh
Labels: plugins, core, executor

#953 Release
  .changeset/tall-buckets-pull.md
  packages/core/src/actions/bundle.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/execute.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/helpers.ts
  packages/plugins/test/run-hh-tests.sh
Labels: plugins, core, executor

#956 fix(pg): parse rpc endpoints with env variables that occur anywhere in the string
  .changeset/modern-hotels-wait.md
  packages/plugins/src/foundry/options.ts
  yarn.lock
Labels: plugins

#957 Release
  .changeset/modern-hotels-wait.md
  packages/plugins/src/foundry/options.ts
  yarn.lock
Labels: plugins

#959 Version Packages
  .changeset/modern-hotels-wait.md
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#961 feat(pg): Support fantom, polygon zkevm, avalanche, and linea
  .changeset/good-mangos-mate.md
  packages/core/hardhat.config.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/constants.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/networks.ts
  packages/core/src/utils.ts
  packages/plugins/hardhat.config.ts
  packages/plugins/test/MultiChain.spec.ts
Labels: plugins, core

#960 fix: incorporate feedback post-prod deployment
  .changeset/few-mayflies-deny.md
  README.md
  docs/config-file.md
  docs/constructor-args.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  packages/core/src/addresses.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/demo/test/InitTask.spec.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/script/BridgeFunds.s.sol
  packages/plugins/script/Sphinx.s.sol
  packages/plugins/sphinx/Website.config.ts
  packages/plugins/src/sample-project/sample-config-files.ts
  packages/plugins/src/sample-project/sample-contract.ts
  packages/plugins/src/sample-project/sample-tests.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core, executor

#965 feat(pg): Add support for Base
  .changeset/olive-mayflies-smoke.md
  README.md
  packages/core/hardhat.config.ts
  packages/core/src/constants.ts
  packages/core/src/networks.ts
  packages/plugins/hardhat.config.ts
Labels: plugins, core

#966 Release
  .changeset/few-mayflies-deny.md
  .changeset/olive-mayflies-smoke.md
  README.md
  docs/config-file.md
  docs/constructor-args.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  packages/core/hardhat.config.ts
  packages/core/src/addresses.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/constants.ts
  packages/core/src/networks.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/demo/test/InitTask.spec.ts
  packages/executor/test/Executor.spec.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/hardhat.config.ts
  packages/plugins/script/BridgeFunds.s.sol
  packages/plugins/script/Sphinx.s.sol
  packages/plugins/sphinx/Website.config.ts
  packages/plugins/src/sample-project/sample-config-files.ts
  packages/plugins/src/sample-project/sample-contract.ts
  packages/plugins/src/sample-project/sample-tests.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core, executor

#969 feat(core): add support for multiple project owners
  .changeset/cold-bags-deny.md
  README.md
  docs/config-file.md
  packages/contracts/contracts/SphinxAuth.sol
  packages/contracts/contracts/SphinxAuthFactory.sol
  packages/core/src/addresses.ts
  packages/core/src/config/parse.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/helpers.ts
  yarn.lock
Labels: contracts, plugins, core

#972 feat(pg): Integrate multisig support with website
  .changeset/brave-chairs-lay.md
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  yarn.lock
Labels: core

#973 feat(pg): Support constructor arg overrides
  .changeset/olive-windows-kiss.md
  docs/constructor-args.md
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/etherscan.ts
  packages/core/src/networks.ts
  packages/plugins/contracts/test/ConstructorArgOverrides.sol
  packages/plugins/hardhat.config.ts
  packages/plugins/sphinx/ChainOverrides.config.ts
  packages/plugins/sphinx/validation/ConstructorArgValidation.config.ts
  packages/plugins/sphinx/validation/OverrideArgValidation.config.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/src/foundry/structs.ts
  packages/plugins/test/ChainOverrides.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/kill-hh-nodes.sh
  packages/plugins/test/run-hh-tests.sh
Labels: plugins, core

#976 fix(core): Fix etherscan verification and minor validation bugs
  packages/core/src/config/parse.ts
  packages/core/src/etherscan.ts
  packages/plugins/contracts/test/ConstructorArgOverrides.sol
  packages/plugins/sphinx/validation/OverrideArgValidation.config.ts
  packages/plugins/test/Validation.spec.ts
Labels: plugins, core

#979 Vesion Packages
  .changeset/brave-chairs-lay.md
  .changeset/cold-bags-deny.md
  .changeset/new-ducks-provide.md
  .changeset/olive-windows-kiss.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#983 feat(core): Detect invalid network names in overrides
  .changeset/fluffy-geckos-allow.md
  packages/core/src/config/parse.ts
  packages/core/src/tasks/index.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/helpers.ts
Labels: plugins, core

#984 fix(core): Only throw errors due to missing rpc environment variables when actually needed
  .changeset/fifty-parents-argue.md
  packages/core/src/networks.ts
  yarn.lock
Labels: core

#985 Release
  .changeset/fifty-parents-argue.md
  .changeset/fluffy-geckos-allow.md
  README.md
  docs/constructor-args.md
  packages/core/src/config/parse.ts
  packages/core/src/networks.ts
  packages/core/src/tasks/index.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/helpers.ts
  yarn.lock
Labels: plugins, core

#987 Version Packages
  .changeset/fifty-parents-argue.md
  .changeset/fluffy-geckos-allow.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins, core

#988 fix(core): Combine previous canonical config with new config
  .changeset/rare-sloths-invent.md
  packages/core/src/tasks/index.ts
Labels: core

#990 fix(core): Support deploying UserConfigWithOptions config with the deploy task in hardhat
  .changeset/shy-shrimps-clean.md
  packages/core/src/config/config.ts
Labels: core

#991 fix(core): Fix bug where deployments are not marked as failed if a constructor reverts during deployment
  .changeset/metal-islands-poke.md
  packages/contracts/contracts/SphinxManager.sol
  packages/core/src/config/parse.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
Labels: contracts, plugins, core

#992 Revert "fix(core): Fix bug where deployments are not marked as failed if a constructor reverts during deployment"
  .changeset/metal-islands-poke.md
  packages/contracts/contracts/SphinxManager.sol
  packages/core/src/config/parse.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
Labels: contracts, plugins, core

#993 Revert "Revert fix(core): Fix bug where deployments are not marked as failed if a constructor reverts during deployment"
  .changeset/metal-islands-poke.md
  packages/contracts/contracts/SphinxManager.sol
  packages/core/src/config/parse.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
Labels: contracts, plugins, core

#994 fix(core): Better failure logging
  packages/contracts/contracts/SphinxManager.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/etherscan.ts
  packages/core/src/fund.ts
  packages/core/src/tasks/index.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/sphinx/Website.config.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/test/helpers.ts
Labels: contracts, plugins, core, executor
