Repository sphinx-labs/sphinx, pull requests merged in 2023-03, with the labels that each got.

#539 fix(exec): Etherscan Verification Bugs
  .changeset/fuzzy-years-report.md
  .changeset/soft-chicken-know.md
  packages/core/src/constants.ts
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/execute.ts
Labels: core, executor

#540 Release
  .changeset/fuzzy-years-report.md
  .changeset/soft-chicken-know.md
  README.md
  docs/chugsplash-file.md
  docs/how-chugsplash-works.md
  docs/immutable-variables.md
  docs/special-var-defs.md
  docs/variables.md
  packages/core/src/constants.ts
  packages/executor/package.json
  packages/executor/src/index.ts
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/execute.ts
Labels: core, executor

#544 Version Packages
  .changeset/fuzzy-years-report.md
  .changeset/soft-chicken-know.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
Labels: core, executor

#545 refactor: get previous storage layout in OpenZeppelin format
  .changeset/two-wombats-watch.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/types.ts
  packages/core/src/deployed.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/etherscan.ts
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSUpgradableUpgrade.config.ts
  packages/plugins/contracts/Storage.sol
  packages/plugins/package.json
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/utils.ts
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/constants.ts
  yarn.lock
Labels: plugins, core, executor

#548 fix(core): validate usage of the preserve keyword
  .changeset/hungry-squids-arrive.md
  docs/special-var-defs.md
  packages/core/src/utils.ts
Labels: core

#549 fix(pg): remove meta upgrade tests
  .changeset/blue-donuts-wash.md
  packages/plugins/test/MetaUpgrade.spec.ts
Labels: plugins

#421 feat(ct): make execution atomic
  .changeset/thirty-carrots-complain.md
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRecorder.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSAdapter.sol
  packages/contracts/contracts/adapters/RegistryAdapter.sol
  packages/contracts/contracts/interfaces/IProxyAdapter.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/constants.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/etherscan.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/chugsplash/hardhat/MetaUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSUpgradableUpgrade.config.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/display-bundle-info.ts
Labels: contracts, plugins, core, executor

#551 feat(core): Add support for async config files
  .changeset/brave-clocks-act.md
  packages/core/src/config/parse.ts
  packages/core/src/tasks/index.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/display-bundle-info.ts
Labels: plugins, core

#547 fix(exec): Catch error during remote execution
  .changeset/famous-walls-film.md
  packages/executor/src/utils/execute.ts
Labels: on-merge-train, executor

#554 gas optimization for loop
  .changeset/clean-rings-clap.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/libraries/MerkleTree.sol
  packages/contracts/src/ifaces.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
Labels: contracts, plugins

#556 maint(ct): Resolve build info files automatically
  .changeset/modern-hotels-taste.md
  packages/contracts/src/ifaces.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
  packages/plugins/test/constants.ts
Labels: contracts, plugins

#559 refactor(core): add initial value to reduce call
  packages/core/src/fund.ts
Labels: core

#553 feat(core): Add support for user defined types
  .changeset/fuzzy-emus-stare.md
  docs/variables.md
  packages/core/src/actions/bundle.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/utils.ts
  packages/demo/contracts/HelloChugSplash.sol
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/contracts/Storage.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins, core

#562 fix(core): resolve ambiguity for private variable config definitions
  .changeset/forty-pants-repeat.md
  packages/core/src/actions/bundle.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/languages/solidity/types.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
Labels: plugins, core

#557 docs: Add specification for ChugSplash config input types
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/contracts/Storage.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
  specs/chugsplash-config.md
Labels: plugins

#563 feat(ct): add a protocol fee to be collected during execution
  .changeset/bright-dodos-attack.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/src/constants.ts
  packages/core/src/constants.ts
  packages/core/src/utils.ts
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
Labels: contracts, plugins, core

#561 feat(core): Split encode variable into parsing and encoding processes
  .changeset/wise-pugs-flash.md
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/languages/solidity/index.ts
  packages/core/src/languages/solidity/iterator.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/utils.ts
  packages/plugins/test/Transfer.spec.ts
  specs/chugsplash-config.md
Labels: plugins, core

#564 fix(ct): remove TODOs in the ChugSplashManager
  .changeset/breezy-phones-prove.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#565 refactor(ct): merge execution functions in the ChugSplashManager
  .changeset/hot-swans-sleep.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/src/actions/execute.ts
Labels: contracts, core

#566 feat(ct): require that proposers are approved by the project owner
  .changeset/unlucky-rats-type.md
  packages/contracts/contracts/ChugSplashBootLoader.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/test/Transfer.spec.ts
Labels: contracts, plugins, core

#555 feat(ct): Add proposer address to bundle proposed event
  .changeset/stale-forks-listen.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#567 feat(core): Add complete config variable input validation
  .changeset/breezy-horses-smash.md
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/languages/solidity/iterator.ts
  packages/core/src/languages/solidity/storage.ts
  packages/core/src/utils.ts
  packages/plugins/chugsplash/ConstructorArgValidation.config.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/contracts/ConstructorArgsValidation.sol
  packages/plugins/contracts/Storage.sol
  packages/plugins/contracts/VariableValidation.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins, core

#568 feat(ct): add PermissionedCaller contract
  .changeset/swift-shrimps-wash.md
  packages/contracts/contracts/PermissionedCaller.sol
Labels: contracts

#570 maint(core): Bring rest of config validation into the parse config interface
  packages/core/package.json
  packages/core/src/config/parse.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/display-bundle-info.ts
  packages/plugins/src/utils.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins, core

#571 Add { gap } keyword
  .changeset/silver-ties-occur.md
  packages/core/src/config/parse.ts
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/iterator.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
Labels: plugins, core

#576 fix(core): Fix bug encoding address payable
  .changeset/lovely-bears-look.md
  packages/core/src/languages/solidity/iterator.ts
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/contracts/Storage.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core

#578 fix(core): update doc for mapping value label in encoding logic
  .changeset/new-apples-drive.md
  packages/core/src/languages/solidity/iterator.ts
Labels: core

#575 fix(ct): Fix incorrect fee calculation
  .changeset/empty-bulldogs-hammer.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
Labels: contracts, plugins, on-merge-train

#579 feat(ct): support rollbacks
  .changeset/three-spies-worry.md
  packages/contracts/contracts/ChugSplashManager.sol
Labels: contracts

#572 feat(core): Add support for other openzeppelin safety check options
  .changeset/smart-dolphins-lay.md
  packages/contracts/contracts/interfaces/IChugSplashManager.sol
  packages/contracts/contracts/interfaces/IChugSplashRegistry.sol
  packages/core/package.json
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/remappings.txt
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/display-bundle-info.ts
  packages/plugins/src/utils.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: contracts, plugins, core
