Repository sphinx-labs/sphinx, pull requests merged in 2023-09, with the labels that each got.

#998 maint(pg): update post-deployment tests
  .github/mergify.yml
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/foundry/interfaces/ISphinxUtils.sol
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/test/PostDeploymentActions.spec.ts
  packages/plugins/test/run-hh-tests.sh
Labels: plugins, ci

#1002 Action address
  .changeset/tasty-cougars-melt.md
  packages/contracts/contracts/SphinxDataTypes.sol
  packages/contracts/contracts/SphinxManager.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/fund.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/script/display-bundle-info.ts
Labels: contracts, plugins, core, executor

#1004 fix(core): fix core contract deployments on live networks
  packages/core/hardhat.config.ts
  packages/core/src/languages/solidity/predeploys.ts
Labels: core

#1005 fix(core): Fix bug upgrading manager when not all chains require upgrade
  packages/core/src/actions/bundle.ts
Labels: core

#1007 feat(core): update diff to include constructor arg variables and post-deployment actions
  .changeset/quick-guests-leave.md
  docs/faq.md
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/config/validation-error-messages.ts
  packages/core/src/diff.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/core/test/diff.spec.ts
  packages/core/test/utils.spec.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/src/cli/index.ts
  packages/plugins/src/foundry/get-bundle-info.ts
  packages/plugins/test/PostDeploymentActions.spec.ts
Labels: plugins, core

#1009 feat(core): Override nonce on transactions
  packages/core/src/actions/execute.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/helpers.ts
Labels: plugins, core, executor

#1010 fix(core): Remove gas price overrides on polygon
  packages/core/src/utils.ts
Labels: core

#1011 fix(core): Include only chain constructor args for constructor failure reason
  packages/core/src/actions/bundle.ts
Labels: core

#1015 Version Packages
  .changeset/honest-readers-wonder.md
  .changeset/lemon-dingos-sleep.md
  .changeset/many-windows-hang.md
  .changeset/metal-islands-poke.md
  .changeset/quick-guests-leave.md
  .changeset/rare-sloths-invent.md
  .changeset/shy-shrimps-clean.md
  .changeset/stale-vans-cross.md
  .changeset/tasty-cougars-melt.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: contracts, plugins, core, executor

#1020 Version Packages
  .changeset/stupid-birds-switch.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Labels: contracts, core

#1021 fix(core): Fix gas price overrides on polygon pos and linea
  .changeset/brown-houses-yawn.md
  packages/core/src/utils.ts
Labels: core

#1022 Release
  .changeset/brown-houses-yawn.md
  packages/core/src/utils.ts
Labels: core

#1024 Version Packages
  .changeset/brown-houses-yawn.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins, core

#1025 fix(core): Override gas price on Linea Goerli
  .changeset/rude-hairs-scream.md
  packages/core/src/utils.ts
Labels: core

#1030 fix(pg): restrict @swc/core dependency version
  .changeset/warm-spiders-reply.md
  packages/plugins/package.json
  yarn.lock
Labels: plugins

#1031 Release
  .changeset/warm-spiders-reply.md
  docs/ops-foundry-getting-started.md
  docs/ops-hardhat-getting-started.md
  packages/plugins/package.json
  yarn.lock
Labels: plugins

#1033 Version Packages
  .changeset/warm-spiders-reply.md
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#1034 fix(core): fix gas estimation bug when executing deployments
  .changeset/great-wolves-greet.md
  packages/core/src/actions/execute.ts
Labels: core

#1035 Release
  .changeset/great-wolves-greet.md
  packages/core/src/actions/execute.ts
Labels: core

#1037 Version Packages
  .changeset/great-wolves-greet.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Labels: core

#1040 fix(core): cancel existing deployments via proposals
  .changeset/curvy-bulldogs-relax.md
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/core/test/diff.spec.ts
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/src/foundry/structs.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/PostDeploymentActions.spec.ts
  packages/plugins/test/helpers.ts
Labels: plugins, core

#1041 fix(core): Fix deployment transaction receipt not awaited
  packages/core/src/actions/execute.ts
Labels: core

#1046 Fix Tests
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/contracts/test/typegen/imports/NoAlias.sol
  packages/plugins/foundry.toml
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/cli/typegen/functions.ts
  packages/plugins/test-folder/foundry/TypeGenTest.t.sol
Labels: plugins

#1047 Fully qualified name on function call
  packages/plugins/contracts/foundry/AbstractContractClient.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/cli/typegen/functions.ts
Labels: contracts, plugins, core, executor

#1048 Remove dependencies on core contracts in Sphinx.sol
  packages/contracts/contracts/Semver.sol
  packages/contracts/contracts/SphinxAuth.sol
  packages/contracts/contracts/SphinxAuthFactory.sol
  packages/contracts/contracts/interfaces/ISemver.sol
  packages/contracts/contracts/interfaces/ISphinxAuth.sol
  packages/contracts/contracts/interfaces/ISphinxAuthFactory.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/script/write-constants.ts
Labels: contracts, plugins

#1049 Fix define contract generation
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxPluginTypes.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/cli/typegen/functions.ts
Labels: contracts, plugins, core, executor

#1050 Update init command
  package.json
  packages/demo/foundry.toml
  packages/demo/package.json
  packages/demo/remappings.txt
  packages/demo/script/Deploy.sol
  packages/demo/src/index.ts
  packages/demo/test/Init.spec.ts
  packages/plugins/contracts/test/HelloSphinx.sol
  packages/plugins/foundry.toml
  packages/plugins/package.json
  packages/plugins/sphinx/ChainOverrides.config.ts
  packages/plugins/sphinx/Storage.config.ts
  packages/plugins/sphinx/validation/ConstructorArgValidation.config.ts
  packages/plugins/src/cli/index.ts
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/sample-project/index.ts
  packages/plugins/src/sample-project/sample-config-files.ts
  packages/plugins/src/sample-project/sample-contract.ts
  packages/plugins/test/ChainOverrides.spec.ts
  packages/plugins/test/ContractReferences.spec.ts
  packages/plugins/test/Create3.spec.ts
  packages/plugins/test/ManagerUpgrade.spec.ts
  packages/plugins/test/Metatx.spec.ts
  packages/plugins/test/MultiChain.spec.ts
  packages/plugins/test/PostDeploymentActions.spec.ts
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/foundry/Broadcast.s.sol
  packages/plugins/test/foundry/Sphinx.t.sol
  packages/plugins/test/foundry/SphinxUtils.t.sol
  packages/plugins/test/foundry/TypeGenTest.t.sol
  packages/plugins/test/helpers.ts
  packages/plugins/test/kill-hh-nodes.sh
  packages/plugins/test/mocha/foundry/utils.spec.ts
  packages/plugins/test/run-hh-tests.sh
Labels: plugins

#1052 Handle conflicting var names in clients
  packages/plugins/contracts/foundry/AbstractContractClient.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/src/cli/typegen/client.ts
  packages/plugins/src/cli/typegen/functions.ts
Labels: plugins

#1053 Test msg.sender set properly in function calls and contract deployments
  packages/plugins/contracts/foundry/AbstractContractClient.sol
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/foundry/SphinxUtils.sol
  packages/plugins/contracts/test/typegen/MsgSender.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/test/foundry/TypeGenTest.t.sol
Labels: plugins

#1055 Test network specific configurations
  packages/plugins/contracts/test/ChainSpecific.sol
  packages/plugins/contracts/test/MsgSender.sol
  packages/plugins/script/ChainSpecificConfiguration.s.sol
  packages/plugins/script/TypeGenTest.s.sol
  packages/plugins/test/foundry/ChainSpecificConfiguration.t.sol
Labels: plugins

#1056 Test actions that depend on maintaining state
  packages/plugins/contracts/foundry/Sphinx.sol
  packages/plugins/contracts/test/MaxArgs.sol
  packages/plugins/contracts/test/StateDependentActions.sol
  packages/plugins/script/ChainSpecificConfiguration.s.sol
  packages/plugins/script/MaxArgsConfiguration.s.sol
  packages/plugins/script/StateDependentActionsConfiguration.s.sol
  packages/plugins/test/foundry/MaxArgs.t.sol
  packages/plugins/test/foundry/StateDependentActions.t.sol
Labels: plugins

#1057 Update comment
  packages/plugins/script/MaxArgsConfiguration.s.sol
Labels: plugins

#1060 Move propose abstract task to plugins
  packages/core/src/tasks/index.ts
  packages/plugins/src/cli/index.ts
  packages/plugins/src/cli/propose/index.ts
Labels: plugins, core

#1061 Rename and move rest of logic in
  packages/plugins/src/cli/index.ts
  packages/plugins/src/cli/propose/index.ts
Labels: plugins

#1063 Fix proposal bugs
  packages/contracts/contracts/SphinxAuth.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/utils.ts
  packages/executor/src/gql/index.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/contracts/foundry/SphinxConstants.sol
  packages/plugins/foundry.toml
  packages/plugins/src/cli/propose/index.ts
  packages/plugins/src/foundry/structs.ts
Labels: contracts, plugins, core, executor
