Repository sphinx-labs/sphinx, pull requests merged in 2023-05, with the labels that each got.

#655 docs(ct): make docs for create2 contracts
  packages/contracts/contracts/DefaultCreate2.sol
  packages/contracts/contracts/interfaces/ICreate2.sol
Labels: contracts

#654 docs(ct): update registry docs
  packages/contracts/contracts/ChugSplashRegistry.sol
Labels: contracts, plugins, core, executor

#653 maint: rename bundle to deployment in certain contexts
  docs/how-chugsplash-works.md
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/test/MockChugSplashManager.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/src/gql/index.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/src/hardhat/tasks.ts
  specs/chugsplash-manager.md
Labels: contracts, plugins, core, executor

#657 docs(ct): update natspec docs for updaters
  packages/contracts/contracts/interfaces/IProxyUpdater.sol
  packages/contracts/contracts/updaters/DefaultUpdater.sol
  packages/contracts/contracts/updaters/OZUUPSUpdater.sol
  packages/contracts/contracts/updaters/ProxyUpdater.sol
Labels: contracts

#658 docs(ct): add natspec docs for adapters
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSAccessControlAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSBaseAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSOwnableAdapter.sol
  packages/contracts/contracts/interfaces/IProxyAdapter.sol
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/tasks/index.ts
  specs/chugsplash-manager.md
Labels: contracts, core

#651 docs(specs): add introduction
  specs/introduction.md
Labels: contracts, on-merge-train

#659 docs(ct): finish contract natspec docs
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ChugSplashManagerProxy.sol
  packages/contracts/contracts/DefaultGasPriceCalculator.sol
  packages/contracts/contracts/ManagedService.sol
  packages/contracts/contracts/Semver.sol
  packages/contracts/contracts/interfaces/IChugSplashManager.sol
  packages/contracts/contracts/interfaces/IGasPriceCalculator.sol
Labels: contracts

#660 feat(core): Support flexible constructors and wider variety of constructor arguments
  .changeset/kind-sheep-joke.md
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/contracts/ComplexConstructorArgs.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: plugins, core

#661 fix(core): add support for structs in constructor args
  .changeset/warm-needles-double.md
  packages/core/src/actions/artifacts.ts
  packages/core/src/config/parse.ts
  packages/core/src/etherscan.ts
  packages/core/src/utils.ts
  packages/executor/.env.example
  packages/plugins/chugsplash/ConstructorArgValidation.config.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/contracts/ComplexConstructorArgs.sol
  packages/plugins/contracts/ConstructorArgsValidationPartTwo.sol
  packages/plugins/contracts/VariableValidation.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/Validation.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core

#663 feat(ct): Support arbitrary calls from the ManagedService contract
  .changeset/clever-moles-check.md
  packages/contracts/contracts/ManagedService.sol
  packages/core/config/local.ts
  packages/core/hardhat.config.ts
  packages/core/scripts/deploy.ts
  packages/core/src/constants.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/languages/solidity/types.ts
Labels: contracts, core

#662 fix(ct): deploy contracts before modifying proxies during execution
  .changeset/eight-eggs-cover.md
  docs/how-chugsplash-works.md
  packages/contracts/.solhint.json
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/adapters/DefaultAdapter.sol
  packages/contracts/contracts/adapters/OZTransparentAdapter.sol
  packages/contracts/contracts/adapters/OZUUPSBaseAdapter.sol
  packages/contracts/contracts/interfaces/IProxyAdapter.sol
  packages/contracts/hardhat.config.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/execute.ts
  packages/core/src/actions/types.ts
  packages/core/src/config/fetch.ts
  packages/core/src/config/parse.ts
  packages/core/src/execution/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/chugsplash/ExecutorTest.config.ts
  packages/executor/contracts/ExecutorTest.sol
  packages/executor/src/utils/execute.ts
  packages/executor/test/Executor.test.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/contracts/Reverter.sol
  packages/plugins/test/Validation.spec.ts
  specs/chugsplash-manager.md
Labels: contracts, plugins, core, executor

#667 Pate/fix import path
  yarn.lock
Labels: contracts, core

#664 feat(ct): add ChugSplashClaimer
  .changeset/heavy-paws-marry.md
  package.json
  packages/contracts/contracts/ChugSplashClaimer.sol
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/contracts/contracts/adapters/cross-chain/ConnextCrossChainAdapter.sol
  packages/contracts/contracts/interfaces/ICrossChainAdapter.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/core/src/analytics.ts
  packages/core/src/messages/index.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  yarn.lock
Labels: contracts, core

#668 feat(ct): add local adapter
  .changeset/itchy-pets-brake.md
  packages/contracts/contracts/ChugSplashClaimer.sol
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/adapters/cross-chain/ConnextCrossChainAdapter.sol
  packages/contracts/contracts/adapters/cross-chain/LocalAdapter.sol
  packages/contracts/contracts/interfaces/ICrossChainAdapter.sol
Labels: contracts

#669 maint(core): remove claimer field from config and registry
  .changeset/two-shirts-confess.md
  packages/contracts/contracts/ChugSplashRegistry.sol
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/etherscan.ts
  packages/core/src/execution/index.ts
  packages/core/src/fund.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/demo/chugsplash/hello-chugsplash.ts
  packages/executor/chugsplash/ExecutorTest.config.ts
  packages/plugins/chugsplash/ConstructorArgValidation.config.ts
  packages/plugins/chugsplash/NoProxyContractReference.config.ts
  packages/plugins/chugsplash/Storage.config.ts
  packages/plugins/chugsplash/VariableValidation.config.ts
  packages/plugins/chugsplash/hardhat/SimpleProject.config.ts
  packages/plugins/chugsplash/hardhat/TransparentUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSAccessControlUpgradableUpgrade.config.ts
  packages/plugins/chugsplash/hardhat/UUPSOwnableUpgradableUpgrade.config.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/sample-project/sample-chugsplash-files.ts
  packages/plugins/test/ManagerUpgrade.spec.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
Labels: contracts, plugins, core, executor

#670 feat(core): Support gasless proposals with meta transactions
  package.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/Import.sol
  packages/contracts/contracts/ManagedService.sol
  packages/contracts/foundry.toml
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/package.json
  packages/core/src/addresses.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/metatxs.ts
  packages/core/src/tasks/index.ts
  packages/plugins/.env.example
  packages/plugins/chugsplash/Metatx.config.ts
  packages/plugins/test/Metatx.spec.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#672 feat(ct): use create3 for non-proxy contracts
  .changeset/hot-rings-tan.md
  package.json
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/DefaultCreate2.sol
  packages/contracts/contracts/DefaultCreate3.sol
  packages/contracts/contracts/interfaces/ICreate2.sol
  packages/contracts/contracts/interfaces/ICreate3.sol
  packages/contracts/package.json
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/actions/types.ts
  packages/core/src/addresses.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/plugins/chugsplash/Create3.config.ts
  packages/plugins/chugsplash/Metatx.config.ts
  packages/plugins/chugsplash/NoProxyContractReference.config.ts
  packages/plugins/chugsplash/foundry/claim.t.js
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/chugsplash/foundry/transfer.t.js
  packages/plugins/package.json
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/hardhat/type-extensions.ts
  packages/plugins/test/Create3.spec.ts
  packages/plugins/test/foundry/ChugSplash.t.sol
  yarn.lock
Labels: contracts, plugins, core

#671 feat(core): Call relay API from propose task
  packages/contracts/contracts/ChugSplashManager.sol
  packages/contracts/contracts/ManagedService.sol
  packages/core/config/goerli.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/metatxs.ts
  packages/core/src/tasks/index.ts
  packages/executor/package.json
  packages/executor/src/gql/index.ts
  packages/executor/src/utils/execute.ts
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#673 fix(exec): Fix live network specific bugs
  .changeset/twelve-rice-explain.md
  packages/core/config/goerli.ts
  packages/core/src/addresses.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/utils.ts
  packages/executor/src/index.ts
  packages/executor/src/utils/execute.ts
Labels: plugins, core, executor

#674 fix(core): fix behavior of create3 deployments
  .changeset/six-ghosts-kick.md
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/config/types.ts
  packages/core/src/etherscan.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/plugins/package.json
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/test/Create3.spec.ts
  packages/plugins/test/Validation.spec.ts
Labels: contracts, plugins, core

#675 fix(core): Determine usage of relay outside the proposeChugSplashDeployment function
  packages/core/src/tasks/index.ts
Labels: core

#676 fix(core): Update owner address to be EOA
  packages/contracts/src/constants.ts
Labels: contracts

#678 fix(core): Fix owner EOA owner address
  packages/contracts/src/constants.ts
Labels: contracts

#682 fix(core): Include imported dependency artifacts in release
  .changeset/twelve-lamps-vanish.md
  packages/contracts/package.json
Labels: contracts

#683 Release
  .changeset/twelve-lamps-vanish.md
  packages/contracts/package.json
Labels: contracts

#686 fix(core): Fix artifact import path
  .changeset/rare-laws-approve.md
  packages/contracts/package.json
Labels: contracts

#687 Release
  .changeset/rare-laws-approve.md
  packages/contracts/package.json
Labels: contracts

#689 Version Packages
  .changeset/rare-laws-approve.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
Labels: contracts

#690 Fix(executor): Fix incorrect contract package version
  docs/ci-integration.md
  packages/core/package.json
  packages/demo/package.json
  packages/executor/package.json
  packages/plugins/package.json
  yarn.lock
Labels: plugins, core, executor

#693 feat(core): Add better relayer error handling
  packages/core/src/metatxs.ts
  yarn.lock
Labels: core

#694 fix(core): Error if no API key is defined when proposing
  packages/core/src/tasks/index.ts
  packages/executor/test/Executor.test.ts
Labels: core, executor

#697 fix(pg): change hardhat `node` task param from `silent` to `hide`
  .changeset/slimy-humans-sniff.md
  packages/plugins/src/hardhat/tasks.ts
Labels: plugins

#698 Release
  .changeset/slimy-humans-sniff.md
  docs/ci-integration.md
  packages/core/package.json
  packages/core/src/metatxs.ts
  packages/core/src/tasks/index.ts
  packages/demo/package.json
  packages/executor/package.json
  packages/executor/test/Executor.test.ts
  packages/plugins/package.json
  packages/plugins/src/hardhat/tasks.ts
  yarn.lock
Labels: plugins, core, executor

#700 Version Packages
  .changeset/slimy-humans-sniff.md
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins

#696 maint(core): remove `ArtifactPaths` in favor of `ConfigArtifacts`
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/execution/index.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/test/Executor.test.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/display-bundle-info.ts
  packages/plugins/test/Metatx.spec.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/Validation.spec.ts
Labels: plugins, on-merge-train, core, executor

#701 fix(core): Allow deploying with owner account on live networks
  packages/core/config/op-goerli.ts
  packages/core/src/languages/solidity/predeploys.ts
Labels: core

#702 feat(ct): Use canary release of op bedrock
  .changeset/ninety-pumas-march.md
  packages/contracts/package.json
  yarn.lock
Labels: contracts

#703 Release
  .changeset/ninety-pumas-march.md
  packages/contracts/package.json
  packages/core/config/op-goerli.ts
  packages/core/src/actions/artifacts.ts
  packages/core/src/actions/bundle.ts
  packages/core/src/config/parse.ts
  packages/core/src/execution/index.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/languages/solidity/types.ts
  packages/core/src/tasks/index.ts
  packages/core/src/utils.ts
  packages/executor/test/Executor.test.ts
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/src/hardhat/artifacts.ts
  packages/plugins/src/hardhat/deployments.ts
  packages/plugins/src/hardhat/tasks.ts
  packages/plugins/src/scripts/display-bundle-info.ts
  packages/plugins/test/Metatx.spec.ts
  packages/plugins/test/Transfer.spec.ts
  packages/plugins/test/Validation.spec.ts
  yarn.lock
Labels: contracts, plugins, core, executor

#705 Version Packages
  .changeset/ninety-pumas-march.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
Labels: contracts

#706 fix(pg): Bump contracts dependency version
  .changeset/tender-insects-work.md
  packages/core/package.json
  packages/demo/package.json
  packages/executor/package.json
  packages/plugins/package.json
Labels: plugins, core, executor

#708 fix(core,pg): add support for mapping keys of contract or enum type
  .changeset/giant-weeks-obey.md
  packages/core/src/languages/solidity/iterator.ts
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/contracts/Storage.sol
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core

#709 Release
  .changeset/giant-weeks-obey.md
  .changeset/tender-insects-work.md
  docs/chugsplash-file.md
  docs/foundry/getting-started.md
  packages/core/package.json
  packages/core/src/languages/solidity/iterator.ts
  packages/demo/package.json
  packages/executor/package.json
  packages/plugins/chugsplash/foundry/deploy.t.js
  packages/plugins/contracts/Storage.sol
  packages/plugins/package.json
  packages/plugins/test/Storage.spec.ts
  packages/plugins/test/constants.ts
Labels: plugins, core, executor

#712 Version Packages
  .changeset/giant-weeks-obey.md
  .changeset/tender-insects-work.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/executor/CHANGELOG.md
  packages/executor/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins, core, executor

#714 fix(exec): Output logger error and fix exponential backoff
  packages/executor/src/utils/execute.ts
Labels: executor

#713 fix(core,pg): use Optimism contracts-bedrock package canary version in all ChugSplash packages
  .changeset/silver-laws-attend.md
  packages/core/package.json
  packages/plugins/package.json
  yarn.lock
Labels: plugins, core

#715 Version Packages
  .changeset/silver-laws-attend.md
  packages/core/package.json
  packages/executor/src/utils/execute.ts
  packages/plugins/package.json
  yarn.lock
Labels: plugins, core, executor

#717 Release
  .changeset/silver-laws-attend.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Labels: plugins, core

#719 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: ci

#724 Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: ci

#718 feat(ct): Deploy in Foundry with bootloader
  .changeset/dull-teachers-sparkle.md
  package.json
  packages/contracts/contracts/deployment/ChugSplashBootloaderOne.sol
  packages/contracts/contracts/deployment/ChugSplashBootloaderTwo.sol
  packages/contracts/contracts/deployment/DeterministicDeployer.sol
  packages/contracts/src/constants.ts
  packages/contracts/src/ifaces.ts
  packages/core/src/addresses.ts
  packages/core/src/config/parse.ts
  packages/core/src/etherscan.ts
  packages/core/src/languages/solidity/compiler.ts
  packages/core/src/languages/solidity/predeploys.ts
  packages/core/src/metatxs.ts
  packages/core/src/utils.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/foundry.toml
  packages/plugins/package.json
  packages/plugins/remappings.txt
  packages/plugins/script/ChugSplash.s.sol
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/foundry/utils/index.ts
  packages/plugins/test/Metatx.spec.ts
  yarn.lock
Labels: contracts, plugins, core

#731 docs: Update contributor guide
  CONTRIBUTING.md
  README.md
  package.json
  packages/demo/.env.example
  packages/executor/.env.example
  packages/executor/test/Executor.test.ts
  packages/plugins/.env.example
Labels: executor

#732 Port executeTask to Solidity
  .changeset/thirty-carpets-wonder.md
  package.json
  packages/contracts/contracts/ChugSplashDataTypes.sol
  packages/contracts/contracts/ChugSplashManager.sol
  packages/core/src/actions/execute.ts
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/foundry-contracts/ChugSplashLocalExecutor.sol
  packages/plugins/package.json
  packages/plugins/remappings.txt
  yarn.lock
Labels: contracts, plugins, core

#733 fix(ci): Update release process dependencies
  .github/workflows/release.yml
Labels: ci

#734 feat(pg): Implement config parsing ffi tasks
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/foundry.toml
  packages/plugins/package.json
  packages/plugins/src/foundry/index.ts
  packages/plugins/src/scripts/ChugSplash.s.sol
Labels: plugins

#735 fix chugsplash manager computed address incorrect
  packages/plugins/foundry-contracts/ChugSplash.sol
  packages/plugins/src/foundry/index.ts
Labels: plugins
